[2013-10-09 09:55] csparpa opened #1 "Assess porting to Python 3.x feasibility"
The library should be tested (unit-tests and functional-tests) against a Python 3.x installation and assessments should be made to understand if code can be patched in order to support Python 3.x _while mantaining retro-compatibilty with 2.6/2.7 versions_.

Possible steps:
1. install a virtualenv with a Python 3.0 interpreter
2. install PyOWM on it and run the the full test suite, tracking down wh

[2013-10-09 09:57] csparpa opened #2 "Test library installation on MacOS"
The library should be installed and tested on MacOS platforms. Relevant issues regarding both phases should be reported here.

[2013-11-15 16:00] csparpa opened #3 "Class StationHistory has multiple responsibilities"
Class StationHistory should be broken down into two separate coooperating classes: a databox and an abstraction provider, similarly to the classes Forecast and Forecaster.

[2013-11-21 17:23] #3 closed, assigned to csparpa

[2013-12-03 08:52] csparpa opened #4 "Provide a caching framework for OWM web API responses"
A cache mechanism should be added to the library, so that responses to OWM web API queries that had been issued time ago (the time amount should be somehow configurable) are returned to the clients directly from the cache and further OWM web API queries are not issued.

This saves time and bandwidth.

The cache mechanism should be enough abstract to let clients use their own cache providers (eg: m

[2013-12-03 08:54] csparpa opened #5 "Make PyOWM usable also behind HTTP proxies"
We want the PyOWM library to be usable also in proxied network environments.

We also want that the proxy configuration be made through application configuration, as well as with environment variables.

Reference: http://stackoverflow.com/questions/3168171/how-can-i-open-a-website-with-urllib-via-proxy-python

[2013-12-10 15:00] #5 closed, assigned to csparpa

[2013-12-10 15:01] #4 closed, assigned to csparpa

[2013-12-13 13:53] csparpa opened #6 "Add pretty-printing to PyOWM entity objects"
Entity classes such as Weather, Forecast, Location, etc.. should be equipped with a `__repr__` hook so that they can be pretty-printed

[2013-12-18 09:57] csparpa opened #7 "API keys should be handled internally as Unicode objects"
API keys may contain non ASCII characters, and this would cause crashes

[2013-12-20 09:03] #7 closed, assigned to csparpa

[2013-12-20 09:03] #6 closed, assigned to csparpa

[2013-12-20 09:04] #2 closed, assigned to nobody

[2013-12-20 16:17] csparpa opened #8 "Configuration values should be injected when instantiating library entry point"
When executing:

[code]

the library loads the configuration options found into the `configurationXX.py` relative to the OWM API version which is used (in this case, version 2.5).

The loading of this module is wired into the code, and this is bad. We want the configuration module's Python path to be injectable while instantiating the library main entry point, something like this:

[code]

The use

[2013-12-20 16:56] csparpa opened #9 "OWM concrete instances should provide a way to check for OWM web API status"
Something like:

[code]

The check should be made by using a short timeout for API responses, in order to avoid hang-up

[2013-12-24 11:41] #9 closed, assigned to csparpa

[2014-01-08 14:33] csparpa opened #10 "Port to Python 3"
The portability assessment shall lead us to decide between one of the following actions:
- patch pyowm so that it is runnable under a Python 3.x env
- write a parallel pyowm releases branch specific for Python 3.x users

A good start is to run the `2to3.py utility`

A more convenient way is to use [tox](http://tox.readthedocs.org/en/latest/)

[2014-01-20 13:27] csparpa opened #11 "Check for PEP-8 compliance"
Check if codebase adheres to the style guidelines stated in [PEP-8](http://www.python.org/dev/peps/pep-0008/).

Also [this guide](http://docs.python-guide.org/en/latest/writing/style/) is useful to read

Tools like [pep8](https://github.com/jcrocholl/pep8) should help.

[2014-02-21 10:17] #11 closed, assigned to csparpa

[2014-02-21 11:12] csparpa opened #12 "Refactoring of detailed weather statuses check in weatherutils.py module"
The `weatherutils.py` provides utilities for checking detailed weather statuses against predefined values (i.e: check if status of a Weather object is 'rainy' or similar)

The checks are performed against several English word lists named `*_KEYWORDS` and located in module `pyowm.webapi25.configuration25`. This pattern is not robust and must be re-engineered in order to allow future multilingual su

[2014-02-21 11:13] csparpa opened #13 "Implement multilingual support for weather data descriptions"
It is possible to invoke OWM web API endpoints specifying a language parameter for output weather descriptions ([reference](http://bugs.openweathermap.org/projects/api/wiki/Api_2_5_weather)), eg:

[code]

As of version 0.X.Y, the PyOWM lib performs weather queries without specifying any language parameters, so the output weather descriptions are defaulted to English.

It would be desirable for end

[2014-02-21 11:17] csparpa opened #14 "Provide a XML Name Schema for PyOWM XML outputs"
To prevent possible XML element name collisions in PyOWM clients, it would be good to provide a XMLNS ([reference](http://www.w3schools.com/xml/xml_namespaces.asp)) for the XML strings returned by entity modules.

The solution could be providing an XSD file ([reference](http://stackoverflow.com/questions/3275991/how-to-create-and-use-xml-namespace)) along with PyOWM code

[2014-02-21 16:16] csparpa opened #15 "Add DOM-oriented representation for entity classes"
By far, model entity classes (such as `Location`, `Weather`, etc.) don't return any DOM-oriented representation of themselves: you can only retrieve their XML/JSON representations as Unicode objects, which are not "traversable".

The public interface for entity classes should:
- allow clients to retrieve DOM-oriented representations and traverse them directly
- allow clients to retrieve Unicode XM

[2014-02-24 08:08] #15 closed, assigned to nobody

[2014-02-25 15:24] csparpa opened #16 "Split and enhance time/temperature conversion functions"
The module `utils.py` concentrates utility functions about either time and temperature units conversions.

First, it should be better to split these functions into two distinct modules (i.e: `temputils.py` and the already existent `timeutils.py`)

Second, the whole codebase contains calls to the above-mentioned functions in a fashion similar to the following:

[code]

It would be better to move th

[2014-02-26 15:35] #16 closed, assigned to csparpa

[2014-02-27 13:38] #14 closed, assigned to nobody

[2014-02-28 10:53] #8 closed, assigned to csparpa

[2014-03-13 10:53] #1 closed, assigned to nobody

[2014-03-13 15:21] #10 closed, assigned to csparpa

[2014-04-30 15:21] jairot opened #17 "Lat,Lon position on weather_at_coords is Counterintuitive"
First, Great library!

Second, I found the position of lat long coordinates in weather_at_coords(long; lat) Counterintuitive, google api, openweather uses (lat, long) por geopoints.

[2014-05-03 18:54] csparpa opened #18 "More utilities in the timeutils module"
Eg: next_hour, next_week

[2014-05-03 18:55] csparpa opened #19 "Add human-friendly methods to Historian class"
Similar to `Forecaster` class. A few useful additions:

[code]

[2014-05-03 19:00] csparpa opened #20 "Review naming of high-level PyOWM interface methods"
Class OWM25 is under focus. Make sure the function names are clear and convey what they really do.

This task could lead to a change in the library interface: this means that users must be notified of this non retro compatibility and docs must be updated, as well as code usage wiki and example snippets, and README.md

This also includes changes introduced with #17

[2014-05-16 12:54] csparpa opened #21 "Introduce @nvie's branching model"
Benefits: it will make code contributions and code management easier.

References: [@nvie's blog post](http://nvie.com/posts/a-successful-git-branching-model/)

[2014-05-16 12:56] csparpa opened #22 "Investigate tox for test automation"
Reference: [tox website](https://testrun.org/tox/latest/)

[2014-05-17 21:45] csparpa opened #23 "Limitation of weather history elements retrieved by the API"
Modify function `weather_history` in module `webapi25/owm25.py` introducing a `cnt` parameter (defaulting to `None|`) which limits the number of items retrieved from the web API.

Caveat: the "1-offset" bug!

[2014-05-17 21:54] csparpa opened #24 "Decide whether to provide or not support for city ID-based queries"
Retrieval of currently observed weather and of daily/3h forecasts can be done on the OWM web API also using the city ID as search key.

We need to decide if this is reasonably going to be supported by PyOWM (does it make sense for the users? If users don't know the IDs they first need to retrieve it) and hence implement the new features.

This may also need - in case of implementation - a review i

[2014-08-08 21:55] #21 closed, assigned to nobody

[2014-08-11 19:18] #12 closed, assigned to nobody

[2014-08-14 11:27] #18 closed, assigned to csparpa

[2014-08-16 11:49] #17 closed, assigned to csparpa

[2014-08-20 15:35] #13 closed, assigned to nobody

[2014-08-20 17:21] #23 closed, assigned to csparpa

[2014-08-21 15:46] csparpa opened #29 "Increase code testing coverage as much as possible"
All the methods in the public interface of classes should be tested.

Mainly we're missing unit tests for "to_JSON" and "to_XML" methods in almost every class that is JSON- and XML-printable.

[2014-08-21 17:46] #19 closed, assigned to csparpa

[2014-08-26 11:36] #24 closed, assigned to csparpa

[2014-08-26 14:07] csparpa opened #32 "Implement endpoint for retrieving weather history from city IDs"
owm25.weather_history_at_id(id)

[2014-08-26 14:41] #20 closed, assigned to csparpa

[2014-08-26 16:39] #32 closed, assigned to nobody

[2014-08-29 10:40] csparpa opened #39 "Support extreme weather codes in Forecaster convenience methods"
`WeatherCodeRegistry` should handle the following extreme weather conditions:
- 781  tornado
- 900  tornado
- 901  tropical storm
- 902  hurricane
- 960  storm
- 961  violent storm
- 962  hurricane

and `Forecaster` class should provide methods for querying "storms" and "tornadoes":

[code]

[2014-10-12 02:24] n0id opened #40 "Support for latitude/longitude query regarding forecasts"
I would be interested in adding support for latitude/longitude querying of forecasts as it now appears the API supports these parameters, seen here:
http://openweathermap.org/forecast

For example:
Call by geographic coordinats at JSON format:
http://api.openweathermap.org/data/2.5/forecast?lat=35&lon=139

[2014-10-12 07:42] csparpa opened #41 "Support for ID-based forecast retrieval"
Add two functions to class OWM25:
- three_hours_forecast_at_id(self, id, [limit])
- daily_forecast_at_id(self, id, [limit])

whose purposes are self I descriptive.

[2014-10-12 07:48] csparpa opened #42 "Refactor weather forecast functions"
This will affect version 3.0 as it is a breaking change in the library API.

We need to normalise the weather retrieval functions to the naming pattern:
- forecast_at_place(self, name, forecast_granularity, [limit])
- forecast_at_coords(self, lat, lon, forecast_granularity, [limit])
- forecast_at_id(self, id, forecast_granularity, [limit])

where "forecast_granularity" can be either "3h" or "daily

[2014-10-13 20:22] #40 closed, assigned to csparpa

[2014-10-14 09:52] #41 closed, assigned to nobody

[2014-10-27 11:34] #29 closed, assigned to nobody

[2014-11-03 14:56] csparpa opened #48 "The Wiki is not in sync with old library versions"
The actual wiki pages provided by GitHub are updated every time a new release is issued: this means that they get out of sync with previous library versions.

We need a way to keep track of the "old versions" of the Wiki and to relate them to a specific reference library version.

The idea is to implement the Wiki using a separate tool than GitHub and host it somewhere (eg: GitHub pages)
A good to

[2014-11-05 12:00] csparpa opened #49 "New feature: find meteostations close to lat/lon"
As read on the [OWM API wiki](http://openweathermap.org/api_station):

This will need to introduce:
- `owm25.station_at_coords(lat, lon, cnt=None)`
- new class `Station`
- relevant parsers

[2014-11-05 12:04] csparpa opened #50 "New feature: retrieve weather currently measured by a meteostation"
As read on the [OWM API wiki](http://openweathermap.org/api_station):

We need to introduce at least:
- `owm25.weather_at_station(id)`
- a new specific parser `StationObservationParser`, as the JSON is quite different from the one returned when querying for weather on city IDs. Next step then could be to refactor commonalities between the 2 parsers

[2014-11-05 12:22] csparpa opened #51 "New feature: retrieve weathers currently measured by meteostations within a bounding box"
As read on the [OWM API wiki](http://openweathermap.org/api_station):

We need to introduce at least:
- `owm25.weather_at_stations_in_bbox(lat_top_left, lon_top_left, lat_bottom_right, lon_bottom_right, cluster=False, cnt=None)`

[2014-11-10 11:39] #39 closed, assigned to nobody

[2014-11-11 09:35] csparpa opened #53 "Include parsing and getter functions for unsupported weather data samples"
OWM web API responses to queries for weather data on specific meteostations also include `calc`  and `visibility` JSON blobs.
The `calc` blob has subvalues:
- dewpoint
- humidex
- heatindex

and `visibility` has subvalues:
- distance

Note that the blobs are not included in JSON responses when invoking other endpoints.

Eg:

[code]

These blobs are currently unsupported but should be.

Patches to

[2014-11-15 09:54] csparpa opened #55 "Remove shebang lines from source fiiles"
Lines such as

[code]

should be removed from all source files, as this is a library and cointains no directly-executable Python scripts (so no portability issues).

[2014-11-22 14:20] #49 closed, assigned to n0id

[2014-11-22 14:38] #55 closed, assigned to csparpa

[2014-11-29 00:50] #53 closed, assigned to csparpa

[2014-12-07 17:49] csparpa opened #60 "Dewpoint can also have negative values"
Class "Weather". The check on positiveness should be removed

[2014-12-07 19:07] #60 closed, assigned to nobody

[2014-12-07 20:34] #50 closed, assigned to nobody

[2014-12-21 11:22] s-celles opened #64 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with pyowm. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable pyowm on @Sourcegraph by going to https://sourcegraph.com/github.com/csparpa/pyowm and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2014-12-21 11:33] s-celles opened #65 "unicode strings"
Hello,

unicode strings should be supported.

I'm using click as CLI parser http://click.pocoo.org/

[code]

I think your asserts to test if a parameter is a string are too restrictive and force people to convert to str which is not necessary for simple unicode string and which is not very "pythonic" (duck typing...).

For example I noticed
https://github.com/csparpa/pyowm/blob/master/pyowm/webapi

[2014-12-21 21:16] #64 closed, assigned to nobody

[2014-12-23 20:51] s-celles opened #66 "generate_city_id_files, Pandas..."
Hello,

I had a look at
https://github.com/csparpa/pyowm/blob/master/scripts/generate_city_id_files.py

You might use Pandas:

[code]

Pandas could also be great for weather history:
see https://github.com/scls19fr/openweathermap_requests

Kind regards

[2014-12-27 14:20] #51 closed, assigned to n0id

[2014-12-27 15:36] #65 closed, assigned to csparpa

[2015-02-27 11:15] BlackSailor opened #69 "error 510 when executed from the crontab"
All works fine but I got following error when run it from the crontab:

File "/home/user/myapp/pyowm/commons/owmhttpclient.py", line 64, in call_API
raise api_call_error.APICallError(str(e.reason), e)
pyowm.exceptions.api_call_error.APICallError: Exception in calling OWM web API.
Reason:
Caused by: HTTP Error 510:

[2015-02-27 20:22] csparpa commented on #69
Hello, thanks for reaching out.
Usually 5xx errors mean errors on the server side. So, this would imply the API crashing somehow when you launch your request.
My suggestion is to retry again in a while: hopefully the API won't return a 510 any more.
If it still does, please post the full detail about your request and I'll take a look

[2015-02-27 21:16] BlackSailor commented on #69
Thanks, script works like a charm when I execute it manually. Problem appear when script is executed from the crontab only. Here is the script:
http://pastebin.com/nk1U0NMi

[2015-02-27 22:31] csparpa commented on #69
Mmmm... I've tried to run your script manually and it also works for me.

Can you please show me your cron expression?  What OS are you running on?

PS: in your script I see you instantia a LRUCache object but you don't actually use it. Are you aware of that? Take a look at [the docs](https://github.com/csparpa/pyowm/wiki/Usage-examples#owm-web-api-version-25-usage-examples)

[2015-02-27 22:54] csparpa commented on #69
@BlackSailor I think I've got the answer.

If you take a look at this [thread](https://openweathermap.desk.com/customer/portal/questions/9787798-what-exactly-is-server-error-51-), you can see that HTTP status 510 when querying the OWM web API means that you've exceeded the max number of API calls per minute. That's because you are using an API key.

To be frank, it is not clear from the thread how

[2015-03-01 13:37] #69 closed

[2015-03-03 22:30] BlackSailor commented on #69
@csparpa Thank you

[2015-03-26 00:06] alexschultze opened #70 "Parsing visibility exception"
Parsing fails for some stations parsing fails with exception.

https://gist.github.com/alexschultze/5c94bb13422c44d06161

here is an example that fails:

{u'clouds': {u'all': 0}, u'name': u'Berlin Koepenick', u'visibility': 10000, u'sys': {u'country': u'DE', u'sunset': 1427304457, u'message': 0.0141, u'type': 1, u'id': 4878, u'sunrise': 1427259349}, u'weather': [{u'main': u'Clear', u'id': 800, u'i

[2015-03-26 08:02] csparpa opened #71 "Add configuration switch for hooking against pro (paid) OWM web API version"
Currently there is no way to specify the paid OWM web API root URL but in code: this should be done via configuration.
The API root URL is in module `pyowm.webapi25.configuration25.py`

[code]

There should be a way to specify the Pro OWM web API root URL (which is `http://pro.openweathermap.org/data/2.5`) via configuration

[2015-03-26 08:05] csparpa opened #72 "Investigate pro (paid) OWM web API support"
Of course this needs a paid subscription.

Has anyone got a personal one that can be shared?

[2015-03-28 15:13] csparpa commented on #70
It should be fixed now... please report back again if you get more parsing exceptions!

[2015-03-28 15:13] #70 closed

[2015-04-19 17:23] csparpa commented on #22
Tox is now supported

[2015-04-19 17:23] #22 closed

[2015-04-20 19:50] csparpa commented on #48
Opted for including the GitHub wiki as a Git submodule: this will allow to keep the Wiki adherent to the code and in the meanwhile accept user contributions.

[2015-04-20 19:50] csparpa commented on #71
Closed with PR #73

[2015-04-20 19:50] #71 closed

[2015-04-20 20:01] #48 closed

[2015-06-01 20:13] Warter21 opened #74 "Error"
It seems something has been changed.

Traceback (most recent call last):
  File "pyo.py", line 9, in <module>
    observation = owm.weather_at_place('London,uk')
  File "/usr/local/lib/python2.7/dist-packages/pyowm/webapi25/owm25.py", line 153, in weather_at_place
    return self._parsers['observation'].parse_JSON(json_data)
  File "/usr/local/lib/python2.7/dist-packages/pyowm/webapi25/observation

[2015-06-02 07:25] #74 closed

[2015-06-08 17:54] David-W98 opened #76 "if 'distance' in d['visibility']: TypeError: argument of type 'int' is not iterable"
My program was working yesterday, and as far as I remember nothing was changed since then. Now all of a sudden I'm getting the above error. Someone else had the same issue but closed the topic before getting a response.

Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python2.7/lib-tk/Tkinter.py", line 1489, in __call__
    return self.func(*args)
  File "FSE code

[2015-06-08 18:13] David-W98 commented on #76
Just needed to update the library apparently, probably should've tried that first...

[2015-06-08 18:13] #76 closed

[2015-06-08 18:27] csparpa commented on #76
Hi, yes that bug has been fixed last week with hotfix release 2.1.1
Anyway thanks for pointing this out!

[2015-06-12 18:46] csparpa opened #80 "Wind speed is not read when not in the wind dict key"
A sample file describing the problem:

http://api.openweathermap.org/data/2.5/forecast/daily?q=Winnipeg&mode=json&units=metric&cnt=16

You can see the 'speed' key in the JSON with no 'wind'.

[2015-06-12 18:50] csparpa commented on #80
Fixed by PR #79

[2015-06-12 18:50] #80 closed

[2015-07-23 12:40] vubo opened #82 "weather_at_id function"
@csparpa Hi!

I use:
[code]
It works not with all IDs. For example this station: http://api.openweathermap.org/data/2.5/station?id=121479

[code]

[2015-07-23 13:41] csparpa commented on #82
Hi @vubo, thanks for posting this.

It looks like that the OWM API is not providing data for that station. If you try:

    http://api.openweathermap.org/data/2.5/weather?id=121479

you get

    {"cod":"404","message":"Error: Not found city"}

Unfortunately I can't do anything about it :-(
Can you test this out a little bit more and - if confirmed - post an issue on the OWM channels (eg: bug track

[2015-07-24 08:28] vubo commented on #82
@csparpa thank you, I will ask OWM.

[2015-07-24 15:17] #82 closed

[2015-08-12 10:30] ggstuart opened #85 "Cannot pass string into `CityIDRegistry._match_line`"
This code in the [`CityIDRegistry` class](https://github.com/csparpa/pyowm/blob/master/pyowm/webapi25/cityidregistry.py#L75) doesn't work for me in python 3.3.4.

[code]

So I can't lookup a city like this

[code]

Because it fails like this.

I believe the problem is that the `lines` variable contains bytes, not strings. This means that `if line.startswith(city_name.lower()):` fails when `city_na

[2015-08-20 14:18] scheung38 opened #87 "Can it use it for Flask as well as Tornado?"
Because I would like automatic update from server, could this be done in Flask or do I need to use Tornado? Thanks

Seb

[2015-08-20 19:13] csparpa commented on #87
Hi, I'm not sure I get your point. Anyway, as it is not depending on any framework, you can use PyOWM on Flask (as well as on Django).
For what concerns Tornado, please notice that PyOWM is not designed with asynchronicity in mind: this furthermore is a very good chance to check PyOWM behaviour in async contexts (eg: Tornado's async methods)
If you can provide help on this that would be FANTASTIC!

[2015-08-20 19:17] csparpa opened #88 "Investigate PyOWM behaviour in async contexts"
check PyOWM behaviour in async contexts (eg: Tornado's async methods)

What is needed to provide the lib with full async support (meaning: the client code uses the lib to call OWM and then the client should not wait idle for the lib response)

[2015-11-26 22:15] dstmar opened #91 "Humidity = 0 when using weather_from_station"
Using pyowm 2.2.1, there's an issue in webapi25.weather in weather_from_dictionary.  The humidity when using weather_from_station() is under d['last']['main']['humidity'], so an additional condition should be checked before the else: humidity = 0:

elif 'last' in d and 'main' in d['last'] and 'humidity' in d['last']['main']:
        humidity = d['last']['main']['humidity']

Adding this condition f

[2015-11-27 00:04] csparpa commented on #91
Thanks for pointing this out!
@dstmar can you submit a pull request fixing the issue?

[2015-12-16 22:34] csparpa opened #93 "Implement support for UV index API subset"
The OpenWeatherMap API also provides UV indexes data for locations all over the world:

    http://openweathermap.org/api_uv

PyOWM should support this feature as well

[2015-12-21 22:19] jdorleans opened #94 "Cannot query Antarctica weather"
Antarctica weather response has sunset_time < 0 throwing an exception.

API Request:
http://api.openweathermap.org/data/2.5/weather?q=antarctica&units=metric&appid=2de143494c0b295cca9337e1e96b00e0

Exception occurs at:
https://github.com/csparpa/pyowm/blob/master/pyowm/webapi25/weather.py#L67

[2015-12-23 06:57] Tangerino opened #95 "PyOWM handling NaNs"
observation = owm.weather_at_I don't for
{"_id":5880054,"name":"Barrow","country":"US","coord":{"lon":-156.788727,"lat":71.290581}}
Is returning Nan even in theirs web site.
I care about just the temperature, can we overcome this problem?
Thanks
Carlos

[2015-12-24 08:13] csparpa commented on #95
Hi @tangerino can you please provide a snippet with the code you're using so I can reproduce the output? Thanks

[2015-12-24 08:51] Tangerino commented on #95
#! /usr/bin/env python
import pyowm
from wimd import wimd
import sys
import datetime

devkey = 'XXXXXXXXXXXXXXXX'
weatherKey = 'YYYYYYYYYYYYYYYY'
locations  = []
owm        = pyowm.OWM(weatherKey)

cities = [
{"_id":6454071,"name":"Grenoble","country":"FR","coord":{"lon":5.7266,"lat":45.187199}},
{"_id":3448439,"name":"Sao
Paulo","country":"BR","coord":{"lon":-46.636108,"lat":-23.547501}},
{"_id":

[2015-12-24 09:25] csparpa commented on #95
Sorry, with that snippet I cannot reproduce the bug.

Can you then pls post here the exact call that gives the error and the full stack trace you see printed?

Thanks

[2015-12-24 09:31] csparpa commented on #95
Anyway, now NaNs seems to be gone.

If I call in my browser:

    http://api.openweathermap.org/data/2.5/weather?id=5880054&appid=2de143494c0b295cca9337e1e96b00e0

where the ID is the one for Barrow, US then the response is:

[code]

Anyway, PyOWM should be able to detect and handle NaNs when the OWM API returns them (which, should anyway **never** happen in a perfect world :-p)

[2015-12-24 15:23] csparpa commented on #94
@jdorleans thanks for notifying. I think this is something that needs to be fixed upstream, on the OWM API, as sunset_time is a UNIX timestamp and it makes no sense that it is < 0 !

So here nothing to patch on PyOWM in my opinion.

Do you agree?

[2015-12-24 15:35] csparpa commented on #91
Fixed with #96

@dstmar the fix is on development version for the moment :)

[2015-12-24 15:35] #91 closed

[2015-12-24 17:51] Tangerino commented on #95
and now this...
Even in your example, sun rise/set and a very low values...
Barrow is a quit north place :D

Collecting weather data from Barrow
Traceback (most recent call last):
  File "/Users/carlos/Desktop/etl/weather.py", line 43, in <module>
    observation = owm.weather_at_id(city['_id'])
  File "/Library/Python/2.7/site-packages/pyowm/webapi25/owm25.py", line
200, in weather_at_id
    retu

[2015-12-24 18:06] csparpa commented on #95
:) this is a different error of course.
Sunrise/sunset are Unix timestamps according to OWM API docs... Being
negative, it would mean that these times refer to lots of years ago!!
So I guess there's a flaw in the API here

Claudio Sparpaglione
http://csparpa.github.io
Il 24 dic 2015 18:51, "Carlos Tangerino" <notifications@github.com> ha
scritto:

[2015-12-24 18:21] jdorleans commented on #94
Since PyOWM consumes a web service, it seems it does not make sense to put these kind of validation. However, supposing we have to manipulate and create the Weather object, it might be important to have them. Are those validated values used to do any calculus? If not, I believe those validations could be removed. If they are, then a workaround could be provided for this specific case. Does it make

[2015-12-26 14:29] csparpa opened #97 "Configuration switch for sanity-check on values provided by the OWM API"
Currently, PyOWM makes opinionated guesses about values returned by the OWM API in order to build instances of its object entities.

Eg:

  - sunrise/sunset times must be positive
  - it is not allowed to have NaNs

This means that whenever the OWM API returns such values (eg: #94 and #95) the object instantiation fails.

This is not fine unless clients explicitly allow this kind of behaviour thro

[2015-12-26 14:30] csparpa commented on #94
Interesting point @jdorleans ! And I think you're right on it: if the OWM API says bullshit, then PyOWM should say bullshit too - this is naive consuming of a webservice.

But it would nevertheless be nice provide control on it to clients that use PyOWM objects: if they decide that having Weather objects with negative sunset/sunrise times or NaNs for any other value is fine, then they should be ab

[2015-12-26 14:30] #94 closed

[2015-12-26 14:31] csparpa commented on #95
As discussed in #94, I've opened a new feature request for release 3 (#97)

[2015-12-26 14:31] #95 closed

[2015-12-26 15:22] csparpa commented on #85
This commit fixes the issue: https://github.com/csparpa/pyowm/commit/78ec1071d650de8cf69ff2793ea1a5c141f4a5fb

Sorry for not creating a specific feature branch but I forgot :-p

[2015-12-26 15:22] #85 closed

[2016-01-02 18:00] csparpa opened #98 "Distribute PyOWM as .deb and .rpm packages"
In order to make even more straightforward for users to install PyOWM, it would be superb to have it installable via package managers such as `yum` or `rpm`.

Eg:

[code]

A good read is: https://wiki.debian.org/Python/Packaging

[2016-02-19 08:23] rishabh135 opened #100 "Not running properly on Python 3.4.3"
I tried using this api with python 3.4.3 , but I got following error message :

[code]

[2016-02-23 21:31] csparpa opened #101 "Provide a command-line client for pyowm"
It would be good to have a CLI command built out of PyOWM exposing at least a subset of the lib features.

Reasons:
- scripting would be easier
- usable also by a non-Python audience

Raw requirements (_more to add_):
- output is pure text and therefore greppable
- command is POSIX compliant
- no PyOWM nor PYthon knowledge expected in order to run the command
- installed via `pip install pyowm`

A

[2016-02-28 11:55] csparpa commented on #100
Hi @rishabh135 as stated on the project manifest, Python 3.4+ is not yet officially supported.
Do you feel like submitting a patch for this specific issue?
Thanks

[2016-02-28 11:56] csparpa commented on #87
No feedback provided, closing...

[2016-02-28 11:56] #87 closed

[2016-03-15 09:34] mateuszdrwal opened #102 "http error"
i am having problems with this api, it throws an error message whenever i do anything that needs the location string. at first i thought it was something i caused but then to make sure i ran the first example script in the readme and it threw the same error.

`Traceback (most recent call last):
  File "/home/pi/Desktop/programs/text.py", line 9, in <module>
    forecast = owm.daily_forecast("Milan

[2016-03-17 15:20] csparpa commented on #102
Thanks for reporting @mateuszdrwal

It's not your fault or library's, it's the OWM API that changed.

It looks like OWM changed its v2.5 API forcing the usage of the appid parameter (which carries the API_key)
That's super-bad practice, as it breaks compatibility with existing clients --> which is our case :-S they should have issued a new API version instead.

Eg:

[code]

Anyway, I will patch th

[2016-03-18 09:57] csparpa commented on #102
Possibly fixed by #103 but please @mateuszdrwal if you or any other user find any API error please notify, thanks

[2016-03-18 09:57] #102 closed

[2016-03-18 09:58] csparpa commented on #102
I will release a new version in a few minutes

[2016-04-23 09:54] csparpa opened #105 "Dockerize"
Provide a Dockerfile and make a public pyowm image

[2016-04-23 10:02] csparpa commented on #105
Solved by #106

[2016-04-23 10:02] #105 closed

[2016-05-12 15:39] SamuelBachar opened #107 "weather_at_place() fails with Reason: HTTP Error 401: Unauthorized"
Hi is it only me or someone have same experience in last few days / hours ?
Python 2.7 IDE : Visual Studio 2013  additional information

[2016-05-16 16:54] csparpa commented on #107
Hi @SamuelBachar did you use the latest release? Please also make sure you use a dev API key

[2016-05-16 17:03] SamuelBachar commented on #107
Hi i did used the latest release and i was using key in example ... Free
key for ppl who didnt payed already for api . I ll try that again once more
.

2016-05-16 9:54 GMT-07:00 Claudio Sparpaglione <notifications@github.com>:

[2016-05-16 17:11] csparpa commented on #107
Can you pls confirm that this only happens when you call the `weather_at_place()` method and not for other ones?

The OWM API literally is a freak of nature, sometimes they just change it without any notice. I just want to figure out what happened on their side!

Thanks

[2016-05-18 13:15] csparpa commented on #107
Ok @SamuelBachar I checked it out.

Basically, it's OK that you get that error, because you need to signup on the OpenWeatherMap website, obtain an API key from them and then use that key to instantiate PyOWM and make requests.

Because of the limitations of the "free" plan (as you can see here: https://home.openweathermap.org/subscriptions) I cannot embed a debug API key into the library.

[2016-05-18 13:15] #107 closed

[2016-05-21 12:27] csparpa opened #108 "Implement method for retrieving weather history at geocoords"
Method could be: `weather_history_at_coords`

We need to understand how to test it, as it is a premium feature.

[2016-06-25 06:44] csparpa opened #110 "Parsing of wind values crashes when wind duct is missing"
in 'weather.py' file, 'weather_from_dictionary' function:

    # -- wind
    if 'wind' in d:
        wind = d['wind'].copy()
    elif 'last' in d:
        if 'wind' in d['last']:
            wind = d['last']['wind'].copy()

gives:

File "C:\Python27\lib\site-packages\pyowm\webapi25\weather.py", line 464, in weather_from_dictionary
    wind = d['wind'].copy()
AttributeError: 'NoneType' object has n

[2016-06-27 07:36] csparpa commented on #110
Fixed with https://github.com/csparpa/pyowm/pull/111

[2016-06-30 12:26] FailSafe86 opened #112 "Feature: weather_by_ids"
there is only one method in the owm25 file to retrieve a weather object from one city ID,

would it be useful to have a method that can take a list of ids. There is an api call that we can link to directly.

[2016-06-30 13:40] csparpa commented on #112
Thanks @FailSafe86 you're right
Would you like to contribute in this new feature?

[2016-06-30 16:35] FailSafe86 commented on #112
sure, would be glad too :+1:

[2016-07-05 17:52] chfiii opened #113 "weather.py fails when forecast has a wind response by no value (NoneType has no copy fcn)"
At line 462 in weather.py:
    if 'wind' in d:
        wind = d['wind'].copy()    <---fails

Fix:

if 'wind' in d:
    if d['wind'] is None:
        wind = dict(speed=0)
    else:
        wind = d['wind'].copy()

Same code should go into the d['alst'['wind'] branch

[2016-07-05 18:47] chfiii commented on #113
Found a fix in the develop branch.  It fixes the base case (d['wind']) but does not test the d['last']['wind'] case.  Suggest that the same test for d['last']['wind] is not None put there.

[2016-07-06 06:26] csparpa commented on #113
Closing this as it duplicates an existing issue, will reopen that one

[2016-07-06 06:26] #113 closed

[2016-07-06 06:28] csparpa commented on #110
Still missing the same fix for case d['last']['wind'] case.

[2016-07-06 06:42] fabaff opened #114 "Forecast issue"
We have integrated pyowm into [Home Assistant](https://home-assistant.io/) a while back and a user reported an [issue](https://github.com/home-assistant/home-assistant/issues/2452) with the forecast.

I see the same traceback if I try to get the forecast directly.

[code]

[code]

[2016-07-06 07:21] csparpa commented on #114
Hello @fabaff this issue is directly related to #111

I've just reopened it other users are reporting this issue - unfortunately the API is sending back empty wind data but PyOWM cannot handle such a situation

As this now looks like a major issue, I will release a bugfix tonight... stay tuned!

[2016-07-06 07:28] fabaff commented on #114
Thanks for the quick response. Sorry, for the duplicate of #111.

[2016-07-06 18:41] csparpa commented on #110
Fixed with f5c52c31242c0bb469c325324299882139bb561a

[2016-07-06 18:41] #110 closed

[2016-07-06 18:42] csparpa commented on #114
Fixed with f5c52c31242c0bb469c325324299882139bb561a

I will issue a new release as soon as I can, in the meantime @fabaff can you pls checkout the `dev` branch and check if the issue is gone? Thanks

[2016-07-06 21:03] csparpa commented on #114
Releasing...

[2016-07-06 21:03] #114 closed

[2016-07-06 21:33] fabaff commented on #114
Seems to work. Thanks for the new release.

[2016-07-13 08:06] #66 closed, assigned to nobody

[2016-07-13 08:11] csparpa commented on #112
@FailSafe86 thanks, waiting for your feedback and code about it :)

[2016-07-13 08:14] #72 closed

[2016-07-13 08:16] csparpa commented on #97
Closing this. The way to go will be: as the API return values are mutable, use defensive programming and never fail on objects instantiation by always providing defaults (null objects - like empty dicts and lists)

[2016-07-13 08:16] #97 closed

[2016-08-04 05:38] Harish515 commented on #102
Below code throwing an error
pyowm.exceptions.api_call_error.APICallError: Exception in calling OWM web API.
Reason: HTTP Error 401: Unauthorized
Caused by: HTTP Error 401: Unauthorized
Can you please help me?
##### program###########3
import pyowm
import pdb
from pyowm import timeutils
import datetime
now = datetime.datetime.now()
fivedays = datetime.timedelta(days=5)
oneday = datetime.timedelta(

[2016-08-04 05:46] csparpa commented on #102
A few checks:

 - Did you update PyOWM to the latest version?
  - Is your API key valid? If so, can you pls try to invoke other pyowm methods (eg: weather at coordinates) using your API key?

Please let me know

[2016-08-04 08:20] Harish515 opened #117 "Reason: HTTP Error 401: Unauthorized Caused by: HTTP Error 401: Unauthorized"
Getting this exception while using a method
observation = owm.weather_history_at_place('London,uk',start = now-onehour,end=now+fivedays)

APICallError: Exception in calling OWM web API.
Reason: HTTP Error 401: Unauthorized
Caused by: HTTP Error 401: Unauthorized
127.0.0.1 - - [04/Aug/2016 13:45:20] "POST / HTTP/1.1" 500 -

My code:
import pyowm
import pdb
from pyowm import timeutils
import datetim

[2016-08-04 14:03] csparpa commented on #117
@Harish515 the reason you get a 401 is because historical weather data is only available to premium OWM subscribers:

http://openweathermap.org/price

[2016-08-04 14:03] #117 closed

[2016-08-23 15:25] csparpa commented on #100
@rishabh135 I tried to reproduce the issue running your exact command under Python3.4, but everything went smooth - I was able to correctly get the forecast

Maybe the bug had been caused by a temporary issue on the OWM API (things like that are quite common, unfortunately)

In any case, this PR #118 adds test coverage for Py34 and Py35

[2016-08-23 15:25] #100 closed

[2016-08-23 20:08] rishabh135 commented on #100
Well I hope so , its late here , but I will try it tomorrow to confirm , thanks a lot for the response.

[2016-08-25 08:42] kinoni opened #119 "Rainfall variable not working in pyowm"
I am working on a mini project using python and scratch to get the weather details of any city using pyowm.

All the variables are working except the rainfall. This variable always displays 0.0 value for any given city.

Please let me know if this is a know issue or if there is any workaround. I am using the following API key:
cb6e0d582ffa76dde399d7a997021d69

Thanks

[2016-08-25 09:25] csparpa commented on #119
Hello @kinoni thanks for reporting, can you please paste here an example of the actual code that you ran and is not working as you expected? Thanks a lot

[2016-08-25 09:42] kinoni commented on #119
Hi,
Here is the python code:
import pyowm
import scratch
s = scratch.Scratch()

def listen():
    while True:
        try:
            yield s.receive()
        except scratch.ScratchError:
            raise StopIteration

for msg in listen():
    if 'key' in msg['sensor-update']:
        key = msg['sensor-update']['key']
        owm = pyowm.OWM(key)
    if 'location' in msg['sensor-update']:

[2016-08-25 09:48] csparpa commented on #119
This bit:

[code]

is wrong, as rain volumes are given by OWM based on the last 3 hours.

So you should call: `rainfall = rain['3h']` instead.

If you're quick enough, you can test it on Osaka (JP), it's raining over there right now...

[2016-08-25 09:49] kinoni commented on #119
Wow.. that was super quick! Thanks

I will try that and get back to you.

[2016-08-25 09:50] csparpa commented on #119
:) Good, no problems!

[2016-08-25 11:14] kinoni commented on #119
Works perfectly! thanks again.

[2016-08-25 11:56] #119 closed

[2016-08-25 12:04] csparpa opened #120 "Refactor import process for city IDs"
It gets simpler!

Just parse these files:
[code]

[2016-08-25 12:11] csparpa commented on #108
#89 covers this

[2016-08-25 12:27] #108 closed

[2016-08-25 14:15] csparpa opened #121 "Also return Python datetime representations for reception/reference times"
Implement @ggstuart 's idea as proposed in PR:

https://github.com/csparpa/pyowm/pull/84

[2016-08-25 14:48] csparpa commented on #121
Fixed by #122

[2016-08-25 14:48] #121 closed

[2016-08-26 15:29] csparpa commented on #112
Added method with PR #123, closing

[2016-08-26 15:29] #112 closed

[2016-08-29 10:23] csparpa commented on #120
Done with https://github.com/csparpa/pyowm/commit/7b1ee25271e7b1efb60492415b446b37c448602f

[2016-08-29 10:23] #120 closed

[2016-09-03 16:03] mathdatech opened #125 "define timezone for the datetime object"
all the datetime.datetime object returned by the fonction haven't a tzinfo define.

you can add the tzinfo 'UTC' for a best precision

[2016-09-15 01:14] G10DRAS opened #126 "Release 2.4.0 - pyowm not working"
I tried a simple python example with both Release 2.4.0 and 2.3.2.
2.3.2 is working as expected but 2.4.0 breaks and return some thing.

[code]
Release 2.3.2 return (Looks good)
`
{"reception_time": 1473901192, "interval": "daily", "Location": {"country": "IT", "name": "Milan", "coordinates": {"lat": 45.464161, "lon": 9.19199}, "ID": 6542283}, "weathers": [{"status": "Rain", "visibility_distance":

[2016-09-15 05:44] csparpa commented on #126
Hello, thanks for reporting this.
What python version are you using? Are you on a free or paid tier?

[2016-09-15 09:07] G10DRAS commented on #126
python 2.7.3 and I am one free tier.

[2016-09-15 13:31] csparpa commented on #126
@G10DRAS Please, I need you to be more precise in order to debug this issue properly.

What is not as expected in the 2.4.0 response?

I checked out the JSON and the only weird thing looks like the Location name, which is `"None"`
... what am I missing more?
Thanks

[2016-09-15 13:57] csparpa commented on #126
I found out and fixed the problem on the Location name: it was caused by a bug in the code that turns the place names to UTF-8

@G10DRAS If you spot more unconsistencies please notify them

[2016-09-16 02:23] G10DRAS commented on #126
Hello @csparpa thanks for quick fix.

When I tested 3.4.0 yesterday, apart from Location name `None`, I saw json data return by api is always the same, no matter what ` city,country ` was passed to api.

I will test the fix and let you know if I see more discrepancies.

[2016-09-16 05:36] csparpa commented on #126
Good, thanks @G10DRAS

The fix is on a branch called 126_unicode_names, I will soon merge it to develop

[2016-09-17 02:40] G10DRAS commented on #126
@csparpa, fix looks good so far.  thanks.

[2016-09-17 14:00] csparpa commented on #126
cool 👍

[2016-09-17 14:00] #126 closed

[2016-09-20 16:09] csparpa commented on #125
Fixed with #128

[2016-09-20 16:09] #125 closed

[2016-09-27 15:39] #88 closed

[2016-09-28 08:55] csparpa opened #129 "Implement support for Air Pollution API subset"
As documented [here](http://openweathermap.org/api/pollution/co) and [here](http://openweathermap.org/api/pollution/o3)

It's a paid-subscription feature

[2016-09-29 09:23] csparpa opened #130 "PyOWM version numbers should be handled as tuples instead of strings"
When asking for PyOWM version on the `OWM25` instances:

[code]

a tuple should be returned instead of a string:

[code]

[2016-09-30 14:39] csparpa commented on #93
Usage:
[code]

[2016-09-30 15:00] #93 closed

[2016-10-10 08:46] lardconcepts opened #132 "'Location' object has no attribute 'get_id'"
For:

[code]

I get:

[code]

Using PyOWM 2.4.0 on current version of Python (3.5 at time of writing)
Apart from that (, it works fine, it just means I can't retrieve the ID.

[2016-10-10 08:47] lardconcepts opened #133 "urllib.error.HTTPError: HTTP Error 500: Internal Server Error for is_API_online()"
Thanks for this great library. However, a couple of things:

For the code

[code]
I get

[code]

However, the rest works in that I can retrieve a valid weather forecast, apart from this other issue I just logged https://github.com/csparpa/pyowm/issues/132

Thanks!

[2016-10-10 10:17] csparpa commented on #133
Hello @lardconcepts thanks for reporting this!

It's a known issue - I'm going to release the lib in a few days and this is going to be fixed also

Thanks!

[2016-10-10 10:19] csparpa commented on #133
Fixed with 5c64a0436b5082eb140d9b31800431219bdc5d42

[2016-10-10 10:19] #133 closed

[2016-10-10 10:25] csparpa commented on #132
@lardconcepts I think it's your mistake here
I've tested your exact code, please notice the uppercase in the very last call:

[code]

[2016-10-10 10:25] #132 closed

[2016-10-10 10:52] lardconcepts commented on #132
Oh, silly me. Should'a copied and pasted. Thanks and sorry,

[2016-10-10 10:52] csparpa commented on #132
No problems man ;) glad you like the library!

[2016-10-10 11:06] #129 closed

[2016-10-20 07:39] postables opened #136 "weather_history_at_place() is broken"
When trying to run the command owm.weather_history_at_place() I get the following error:

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/pyowm-2.5.0-py3.4.egg/pyowm/commons/weather_client.py", line 58, in _lookup_cache_or_invoke_API
  File "/usr/lib/python3.4/urllib/request.py", line 153, in urlopen
    return opener.open(url, data, timeout)
  File "/usr/lib/pyth

[2016-10-27 06:32] csparpa opened #137 "Stations API support"
OWM reference: http://openweathermap.org/stations

At the time of writing, this 3.0 API is in beta testing

Study about the API is here: https://github.com/csparpa/pyowm/wiki/Weather-Stations-API-3.0

[2016-10-27 06:36] csparpa opened #138 "Django custom models for PyOWM entities"
Make it possible to dump PyOWM entity objects (Location, Weather, Observation, Forecast, UVIndex, Ozone, COIndex, etc..) to databases as Django models.

[2016-10-28 08:34] csparpa commented on #130
Fixed with PR #139

[2016-11-01 05:06] alechewitt opened #140 "Implement ZIP code method"
As documented here: https://openweathermap.org/current#zip

Implement a method to get weather from a zip code and country code

[2016-11-02 00:18] alechewitt opened #143 "OWM25._encode_string returns nothing if passed a unicode string"
The static method [OWM25._encode_string ](https://github.com/csparpa/pyowm/blob/master/pyowm/webapi25/owm25.py#L89) will return `None` if passed a unicode string. Eg:

[code]
`encoded_str` now equals `None`

[2016-11-02 07:36] #140 closed

[2016-11-03 09:18] csparpa commented on #143
Fixed with 1332b835d450f73702f598f544308ec2807277c1

I forgot to put a `return` and the test case could not catch it as it is a corner-case which cannot be tested with Python 3.x

[2016-11-03 09:18] #143 closed

[2016-11-03 09:28] csparpa commented on #136
Hi @postables some OWM API features require a paid subscription tier.

The weather history is - in fact - a paid feature, as you can see [here](https://openweathermap.org/price). Can you confirm?

Action on my side: update [the outdated document](https://github.com/csparpa/pyowm/blob/master/docs/features.md) that you read.

Thanks!

[2016-11-04 11:51] csparpa commented on #138
Implemented in a separate Github repo:

https://github.com/csparpa/django-pyowm

[2016-11-04 11:51] #138 closed

[2016-11-08 16:54] Diapente commented on #98
There's an Arch PKGBUILD in the AUR under the name python-owm.

[2016-11-08 17:37] csparpa commented on #98
Hum... I didn't package the lib using any packaging channel, so someone has already kicked it off.

Nothing wrong with it, of course, as soon as that bundle effectively contains PyOWM 2.5

As regards this task, I was thinking about Debian/Ubuntu packaging as a priority

[2016-11-08 17:48] Diapente commented on #98
Yeah that was me - it was more of an FYI. It should be at 2.5.0 now.

On Tuesday, November 8, 2016, Claudio Sparpaglione <notifications@github.com>
wrote:

[2016-11-08 18:07] csparpa commented on #98
Haaa sorry, I didn't get :)
Super!!! Thanks for supporting!

[2016-11-08 18:11] csparpa commented on #98
@Diapente could you please submit any kind of high level guideline on how to install PyOWM via AUR packaging? Be it anything, I mean, a single command line or a bullet pointed list or whatever
So that I can update READMe.md with that info

You could submit a PR to the master branch yourself as well, if you want

Thanks so much!

[2016-11-08 18:17] Diapente commented on #98
Sure - there are various methods to access the AUR but one of more common/easily understood ones would be:

`Yaourt -S python-owm`

Then follow the prompts as for any other PKGBUILD.

I only made a python3 package. PyOWM is compatible with python2 so do you want me to package a python2 version? That would take the name python2-owm (following AUR convention).

[2016-11-08 20:41] csparpa commented on #98
@Diapente yes please, Python 2 is still extensively used

I added install notes to this new wiki page: if there is anything wrong with it, please notify me!
https://github.com/csparpa/pyowm/wiki/Install

[2016-11-08 23:27] Diapente commented on #98
Done - python2-owm is now available from the AUR.

[2016-11-09 07:20] csparpa commented on #98
Thanks @Diapente !

[2016-11-15 10:10] #136 closed

[2016-11-16 18:59] BlackSailor opened #145 "owm stop working"
Sorry, looking for a quick fix but don't know where to ask. After a year of work without problem it stop now. Trackback refer to this line in my code:
```obs = owm.weather_at_id(<my_id>)```

and

[code]

[2016-11-16 20:26] csparpa commented on #145
@BlackSailor thanks for reporting, can you tell me what version are you using? The latest one (2.5) ?

[2016-11-16 22:32] csparpa commented on #145
@BlackSailor I tested out the call using PyOWM 2.5.0 and on city id `1704793` (Maanas, PH) and I get no errors.

Now, it looks like your error is generated by your *specific* city id... can you provide this please?

[2016-11-17 14:08] lardconcepts opened #146 "Doc or code error? Comma in locations search breaks things depending on number of results"
Given the following for a town I know there is **only one of** in the UK:

[code]

The result is either:

[code]

or (and this might be a flakey API this morning)

[code]

Given "Llandinam UK" (no comma), it returns: ```Llandinam United Kingdom```

But where there is **more** than one town, if I put: "Gillingham UK" it returns ```Gillingham United Kingdom``` but if I put "Gillingham,UK"  it return

[2016-11-17 14:10] lardconcepts opened #147 "Best way of getting county from multiple locations results?"
When locations search returns multiple town name results, even on the OWM website their seems to be no way of distinguishing which is which as no county name is given.

The only thing I can think of is to then pass the co-ords to http://postcodes.io/outcodes?lon=-3.3&lat=52.52 and get the county from that.

Am I missing a trick here, or is this the only way? Thanks

[2016-11-18 07:03] BlackSailor commented on #145
Sorry for delay
[code]

[2016-11-18 07:12] #145 closed

[2016-11-18 07:42] csparpa commented on #145
@BlackSailor good, thanks :) we have had this issue before (https://github.com/csparpa/pyowm/issues/76) so that's why I suggested to update

[2016-11-18 07:45] csparpa commented on #147
Hi @lardconcepts yes I think there is no other way of telling among search results having the same name other than using their lat/lon.

Please just notice that PyOWM is not "processing" data returned by the API in any way, so what you get from the PyOWM object model is basically what the API returned, only informations are organized a little bit better

[2016-11-19 14:11] #147 closed

[2016-11-19 14:29] csparpa commented on #146
Hi @lardconcepts I tried to reproduce your calls and I get results similar to yours (`Llandinam,UK` gives me back 11 matching items!)

This behaviour is not caused by PyOWM, it's caused by the way the API internals work. I frankly have no idea what goes on behind the scenes whenever somebody looks up data using country _names_ as a query key: I guess - but I may be wrong - that they're doing some

[2016-11-19 14:29] #146 closed

[2016-11-20 14:29] lardconcepts commented on #146
Thanks for the explanation, but remember, I am not using not _location_ but _location**s**_  so ID is not possible.

In the end I just wrote something to loop through and then use a third party API to return a town based on postcode. Pasting here in case it's useful to anyone (sorry about the code - I don't do Python that much!)

[code]

[2016-11-21 00:42] lardconcepts opened #148 "UK, gives yesterday's day until 7am next day."
It appears that "today" is still yesterday until about 7am.

I can see from https://openweathermap.desk.com/customer/en/portal/articles/1634438-time-format-and-zone that "OpenWeatherMap uses Unix time and UTC/GMT time zone for all API calls including current weather, forecast and historical data", so I'm not sure why it's still Sunday when it's Monday.

Using the site directly, it appears to be li

[2016-11-22 13:46] csparpa commented on #148
@lardconcepts I'm not sure I see your point...

Just to provide some context: when you call an OWM API endpoint you get data that is referred - as you stated - to a UNIX timestamp: this is referred to as `reference_time` in PyOWM, and means the point in time when the measurement was done by OWM data sourcers. Many PyOWM entity objects also carry `reception_time`, that is the UNIX timestamp when th

[2016-11-22 21:27] pirateofitaly opened #149 "Small typo in error message"
Says "espressed" instead of "expressed."
very minor, just thought I'd pass it along. Thanks for the great  piece of software!

`File "/usr/local/lib/python2.7/site-packages/pyowm/webapi25/forecaster.py", line 404, in get_weather_at
    timeformatutils.to_UNIXtime(timeobject))`
 `File "/usr/local/lib/python2.7/site-packages/pyowm/utils/timeformatutils.py", line 132, in to_UNIXtime
    raise TypeErr

[2016-11-27 12:05] lardconcepts opened #150 "PyOWM 2.5 / Python 3.5: registry calls return "None""
Following the example at https://github.com/csparpa/pyowm/wiki/Usage-examples#retrieving-city-id-for-a-location
[code]
I get ```None``` in all cases, whether I put UK, GB or just nothing after the town.

So I followed the docs at https://pyowm.readthedocs.io/en/latest/pyowm.webapi25.html#module-pyowm.webapi25.cityidregistry and read the source at https://github.com/csparpa/pyowm/blob/master/pyowm/

[2016-11-27 19:48] lardconcepts commented on #150
After poking around, I found that if you replace https://github.com/csparpa/pyowm/blob/master/pyowm/webapi25/cityidregistry.py#L80
with ```if line.startswith(city_name.title())``` then it works in that it returns a value, but only the first one.

Trouble is, there are hundreds, maybe even thousands of towns and cities with the same name.
Do you want the Abbeville in France or any of the 4 in the U

[2016-11-29 20:34] csparpa commented on #149
Fixed with commit 0cb42ecc700a1386e30ba6d3d607a56b4bcda621

[2016-11-29 20:34] #149 closed

[2016-11-29 22:05] csparpa opened #152 "CityIDRegistry lookup fail depending on input strings"
As referenced in #150, lookup functions in `CityIDRegistry` are failing because:
  - they do not _literally_ match city names against the first column in CSV files lines, but only check if that the lines actually _start_ with those names
  - they are sensitive about camel casing, but should not be

Eg: the CSV file has the following contents
[code]

The following lookups are returning wrong data:

[2016-11-29 22:08] csparpa commented on #150
Closing this, as the buggy behaviour is tracked by #152 and the proposal about returning ID/Location lists is tracked by #153

[2016-11-29 22:08] #150 closed

[2016-11-29 22:13] csparpa opened #153 "CityIDRegistry should return all matching IDs and locations"
Currently, `CityIDRegistry` lookup functions

[code]

always return the *first* matching ID or location.

Conversely, what happens when multiple matching cities are found?

Let's introduce two new functions

[code]

returning:
  - an empty `list` if no matching cities are found
  - a `list` of tuples in the form `(id, city_name, country)` or a `list` of  `Location` objects upon 1+ matching cities

[2016-11-29 22:43] csparpa commented on #152
Fixed with 03d02ed4a12491cd63fed34021f068dfc181a7bd

[2016-11-29 22:43] #152 closed

[2016-11-30 07:47] csparpa opened #154 "Introduce deprecations"
We need a way to notify users that specific functionalities will be removed at some point in the future.
This way should reach as many users as possible, so I guess we need at least:

  - a wiki page for deprecations (for each PyOWM version, list what functionalities are marked as deprecated and what future version they will be dropped out of)
  - maybe something on the code-side. Eg: a silent dec

[2016-11-30 13:57] Diapente commented on #154
Maybe a changelog?

If there is clear documentation I can include it in the packaging for Arch - when you upgrade it would print out a message at the console saying what has been removed.

All best

N

On Tue, Nov 29, 2016 at 11:47:43PM -0800, Claudio Sparpaglione wrote:

[2016-11-30 15:01] csparpa commented on #154
We do have a changelog [here](https://github.com/csparpa/pyowm/wiki/Changelog) and - yes - it would be a good place to notify deprecated functionalities and feature support drop!

[2016-12-01 21:47] #148 closed

[2016-12-01 23:13] csparpa commented on #154
#155 fixes

[2016-12-01 23:13] #154 closed

[2016-12-05 03:38] danshorstein commented on #153
Is there any way to search for location by zip code? That might help with multiple cities with the same name.

[2016-12-05 08:58] csparpa commented on #153
@danshorstein I'm afraid we don't have such an info in the source lists :-/

[2016-12-06 20:13] csparpa opened #156 "Deprecations to be executed on version 3.0.0"
Module `webapi25.cityidregistry`:
[code]

Module `webapi25.owm25`:
[code]

Module `webapi25.station`:
[code]

Module `webapi25.forecaster`:
[code]

[2016-12-07 22:51] csparpa commented on #153
Fixed with PR #157

[2016-12-07 22:51] #153 closed

[2016-12-14 10:33] csparpa opened #158 "Breaking interface change wrongly released with 2.5"
I wrongly released a breaking change with 2.5, apologies for that!

Function `webapi25.owm25.get_version` used to return a string, I changed it so that it returned a tuple
Eg:
[code]

Returning a string should be restored and a deprecation should be introduced for that function and `webapi25.owm25.get_API_version` as well explaining that the return type will be modified on version 3.0.0 onwards

[2016-12-15 20:22] csparpa opened #159 "Python 3.6 support"
Python 3.6 will be released on December, 16

Need to add support for it:

  - Check all test suites work
  - Patch README.md and wiki pages

[2016-12-16 17:40] csparpa opened #160 "Support for weather alerts"
Add support for this new feature

References:
http://openweathermap.org/triggers
http://openweathermap.org/triggers-struct

Study docs:
https://github.com/csparpa/pyowm/wiki/Weather-alerts

[2016-12-16 21:55] csparpa commented on #130
As stated in https://github.com/csparpa/pyowm/issues/158 this issue was due for Milestone 3.0, reopening

[2016-12-16 22:14] csparpa commented on #158
Done with #161

[2016-12-16 22:14] #158 closed

[2016-12-19 13:12] csparpa opened #162 "Improve organization of GitHub PyOWM documentation"
Actions:
  - structure the project's README file according to [GitHub's guidelines](https://guides.github.com/features/wikis/)
  - move project management-related docs to the wiki
  - organize and move tech docs from wiki to `docs` folder. Remember to fix broken links among pages (make navigation easy) and make sure that the README.md links to the correct docs.
  - include the `docs `folder into t

[2016-12-20 17:34] csparpa opened #163 "Improve integration testing framework"
Currently it's not super easy to run tests against the real API because we need a valid API token passed in as a parameter.

Also, it would be nice to have all the code snippets reported in README.md gathered and tested as integration test module, as they are the first code that people try out when they get to know PyOWM!

[2016-12-21 11:10] csparpa commented on #159
Release date has changed to December, 23

Anyway, I'll test the lib against 3.6.0 candidate 2

[2016-12-21 11:12] csparpa opened #164 "Add Python 3.6 installation to Dockerfile"
As per title

[2016-12-21 11:27] csparpa commented on #159
Fixed with commit efa6fea22a74a3c272d6e84279e9940482050a42

[2016-12-21 11:27] #159 closed

[2016-12-21 14:35] csparpa commented on #162
fixed by PR #165

[2016-12-21 14:35] #162 closed

[2016-12-23 13:36] csparpa opened #167 "station_at_coords is broken"
*Affects: PyOWM 2.6*

When executing:

[code]

the `StationParser` crashes:

[code]

This is the JSON payload of the API response:
[code]

[2016-12-23 13:38] csparpa opened #168 "weather_at_station is broken"
*Affects: PyOWM 2.6*

When executing:

[code]
the `ObservationParser` crashes:

[code]

This is the JSON payload of the response:
[code]

[2016-12-23 15:25] #163 closed

[2016-12-23 16:10] csparpa commented on #167
Fixed with 63a7464d534f48e1d8276146ed8442d90303e6a4

[2016-12-23 16:10] #167 closed

[2016-12-23 16:19] csparpa commented on #168
Fixed with 0e337fe107e6bc57e0faed02fb681a88c46ace03

[2016-12-23 16:19] #168 closed

[2016-12-27 10:44] csparpa opened #170 "Mark deprecated functions on Sphinx docs"
Reference: http://www.sphinx-doc.org/en/1.5.1/markup/para.html#directive-deprecated

[2016-12-27 20:37] csparpa commented on #170
Fixed with commit 8c53f50133dbd9a0193720f3460aec9f76def467

[2016-12-27 20:37] #170 closed

[2017-01-02 20:24] csparpa commented on #164
Hint: http://askubuntu.com/a/865569

[2017-01-03 07:57] csparpa opened #171 "Add projects section to README.md"
I would like to add a section named "Projects" to the README.md file

This section mentions the major open source projects that use PyOWM. One of these is [Home Assistant](https://github.com/home-assistant), but the list is hopefully going to grow with time.

[2017-01-03 13:37] csparpa commented on #171
Fixed on 6e3e3bce62f161048e6ff9a8e4622e0b81764324

[2017-01-03 13:37] #171 closed

[2017-01-09 11:02] csparpa commented on #164
[This one](https://github.com/omab/docker-pyenv-tox) is a good strategy also

[2017-01-20 18:28] csparpa opened #172 "Augment pollution API methods with NO2 and SO2 support"
As per title

http://openweathermap.org/api/pollution/no2

http://openweathermap.org/api/pollution/so2

Also, don't forget to write new models in `django_pyowm` project for these new entities

[2017-01-22 20:38] csparpa commented on #164
Fixed with 787da78bf54063718631f8678aa2b185204238aa

[2017-01-22 20:38] #164 closed

[2017-01-30 23:05] lardconcepts opened #173 "Pip install pyowm 2.6.0 does not seem to install registry files"
- Python 3.5.2+
- PyOWM 2.6.0
- Linux 4.8.0-34-generic Ubuntu

pip installed pyowm, really excited to test these new registries (thanks!). But I got this:

[code]

I got no result from  `locate 103-108.txt`

and for `ll /usr/local/lib/python3.5/dist-packages/pyowm/webapi25/cityids` I got:
[code]

So then I tried `pip install --upgrade --no-deps --force-reinstall pyowm`
[code]

But still no luck. I

[2017-01-31 08:14] csparpa commented on #173
This might help: http://stackoverflow.com/a/11848281

[2017-01-31 11:55] lardconcepts commented on #173
Hi  @csparpa - thanks. Is this something that I can do to trigger a download, or was this meant as a reference for yourself but not something I can do? Thanks!

[2017-01-31 13:44] csparpa commented on #173
@lardconcepts meant to be a reference for myself, but you could always take the opportunity to try out yourself to contribute ;-)
thanks... I will probably fix and release 2.6.1 tonight

[2017-01-31 14:52] lardconcepts commented on #173
I would if I knew where to begin! Pip and python is largely a mystery to me and I'm so glad people like you know what you're doing 👍  Thanks for the fast response 🥇

[2017-01-31 20:41] csparpa commented on #173
Shoud be fixed with https://github.com/csparpa/pyowm/commit/d15303dade9f007283f6201e7418ba8f0a907775

[2017-01-31 20:41] #173 closed

[2017-01-31 20:47] lardconcepts commented on #173
Thank you thank you! Do you know how long things take to get picked up by Pip?

I just tried a forced re-install did a `pip search pyowm`
[code]

Is this something I should just have patience with? It's night here now so I'll try again in the morning. Again, thank you!

[2017-01-31 20:53] csparpa commented on #173
I'm just into the packaging phase... 2.6.1 will be out super soon - then would you mind testing it out?
Thanks

[2017-02-01 07:54] lardconcepts commented on #173
Hi there @csparpa - sorry, I only just saw this, thank you. I have installed and tested 2.6.1 but for your example code of

[code]

I am getting
[code]

[2017-02-01 08:43] csparpa commented on #173
Ok, that is something different... as regards the current issue, it should be fixed as the files actually are where they should be - Can you confirm?

I've tested out 2.6.1 with a lookup on "Milan" and it gives me back a few results... Need to debug it better, in the meanwhile please open an ad-hoc issue for that. Thanks @lardconcepts !

[2017-02-01 09:20] lardconcepts commented on #173
Thanks @csparpa - yes, files are there, but I looked in them and I see that for the registry search, it should be GB not UK, so it is just a small documentation change.
`print(registry.ids_for('London', country='GB'))   `
I would do a pull request, but I cannot now find where I got those examples from!

But, now I change UK to GB, it is working, thank you!

[2017-02-01 09:25] csparpa commented on #173
Haaaaaa :) yep, the ISO-3166 name for UK [is in fact GB](https://www.iso.org/obp/ui/#iso:code:3166:GB) - I alwasy make the same mistake myself, don't worry

Thanks man!

[2017-02-01 09:42] lardconcepts commented on #173
One final thing, I can confirm that it reports towns in the UK with the same name exactly as expected, so thank you again!

[code]

[2017-02-01 09:45] csparpa commented on #173
Good!
I've also updated the usage examples in the doc - they are available in the "dev" branch for the moment.

Enjoy!

[2017-02-13 02:17] liendroid opened #175 "weather.get_detailed_status for all cities gives wrong weather status"
I'm using the weather.get_detailed_status function and i noticed that no matter what city it's in, it'll always return back clear skies, but open weather site will say otherwise.
For example, London currently is hazy, with broken clouds. But the function returns back clear skies.
In order to get the weather, I used weather_at_place() and weather_at_ID().

[2017-02-13 13:35] csparpa commented on #175
I've tagged it as "bug" just in case, but please @liendroid can you check out if the weather status given by the library is coherent to what the **API itself** is saying (__not the website__) ?

Cause the point here is: if the API is giving data different from the website, this would not be PyOWM's fault

Thanks

[2017-02-15 15:47] liendroid commented on #175
You are correct, it looks like the API was returning a different value from the website. Strange, but not pyown's fault. Thanks for responding.

[2017-02-15 15:47] #175 closed

[2017-02-25 22:35] Harmon758 opened #176 "AttributeError: 'str' object has no attribute 'decode' in Python 3"
`AttributeError: 'str' object has no attribute 'decode'` is raised in Python 3 when converting exceptions to strings, due to `self._message.decode('utf-8')` in `__str__`.

[2017-03-01 18:03] digitaltoast commented on #173
Thanks - I actually got caught out again, as the "live" version still shows UK and not GB.

Just lettin' you know!

[2017-03-01 18:04] lardconcepts commented on #173
Thanks - I actually got caught out again, as the "live" version still shows UK and not GB.

Just lettin' you know!

[2017-03-01 19:11] csparpa commented on #173
Man... this sounds really weird!
Are you sure?

Can you tell me the exact OS type and version and the output of the following shell commands:

[code]

and

[code]

please?

[2017-03-01 19:22] lardconcepts commented on #173
Sorry for the confusion! I mean the usage docs!

Master is incorrect and shows UK
https://github.com/csparpa/pyowm/blob/master/pyowm/docs/usage-examples.md

develop is correct and shows GB
https://github.com/csparpa/pyowm/blob/develop/pyowm/docs/usage-examples.md

But of course, most people will see "Master"

[2017-03-01 19:25] csparpa commented on #173
Haa ok, you're right!
I will put the dev branch changes to the master branch

Thanks for notifying!

[2017-03-01 21:34] csparpa commented on #173
@lardconcepts fixed :+1:

[2017-03-11 07:47] csparpa opened #177 "Key error on weather data parsing"
Exception

    KeyError: 'deg'

When calling

    weather.get_wind()['deg'] 

[2017-03-14 21:03] csparpa commented on #176
@Harmon758 the fix is now on the develop branch - can you please give it a test? Thanks so much

[2017-03-14 21:03] #176 closed

[2017-03-14 21:09] csparpa commented on #177
Let me be frank, this is not a bug.

The call to `weather.get_wind()` obtains a `dict` and then it's client code's responsibility to safely explore the contents of that dict.

So, this would be the best way to go:

[code]

[2017-03-14 21:09] #177 closed

[2017-04-07 05:51] jm33-m0 opened #179 "time difference in weather forecast"
when requesting weather forecast for a city that's not covered in GMT, the result i get might be confusing due to time difference

[2017-04-07 08:17] csparpa commented on #179
Hi @jm33-m0 I'm not sure I understand your question.. What do you mean when you say *"a city that's not covered in GMT"* ?

All OpenWeatherMap API timestamps are in GMT (better off to say: UTC) as stated [here](https://openweathermap.desk.com/customer/en/portal/articles/1634438-time-format-and-zone). PyOWM therefore returns timestamps/datatime objects in UTC timezone

[2017-04-07 12:05] jm33-m0 commented on #179
well, I meant if I look for weather forecast for a city that uses a timezone other than UTC, I'm still getting results based on UTC timezone, which, might be confusing to use

[2017-04-07 20:49] csparpa commented on #179
Why would it be ?

All OpenWeatherMap timestamps are returned in UTC and that makes a lot of sense as weather forecasts are provided world-wide. Therefore PyOWM doesn't perform any timezone-translation

Timezone conversions can easily be done downstream using Python libraries such as [pytz](http://pytz.sourceforge.net/) or similar ones.

[2017-04-07 20:49] #179 closed

[2017-04-08 07:39] InunoTaishou opened #180 "Sunrise/Sunset in forecast"
After getting the JSON string from the Weather and Forecast object the sunrise/sunset time are both 0. The member is in the string but it's 0. Unsure if it's the api call where owm doesn't actually have the sunrise/sunset in the forecast or if it's pyowm. I'm trying to get the sunrise and sunset for the week forecast. I was going to create an observation object for each day but all I can find unde

[2017-04-08 16:56] csparpa commented on #180
Hello @InunoTaishou as regards sunrise/sunset times PyOWM is defaulting to 0 if it is unable to find the sunrise/sunset information in the JSON returned by the OWM API. If you'could mimic the same API call that PyOWM is doing in your specific case, you would be able to understand if sunrise/sunset times actually *are* in the response JSON - and then we could patch PyOWM to read them.

As regards w

[2017-04-08 19:26] InunoTaishou commented on #180
Hmmm I see. I was looking at the 16 day forecast under the owm api and I didn't see the sunrise/sunset member in the json string on the example but it was in the xml example. I am using daily_forecast to get a week long forecast. I don't know if it's such a big deal to have the sunrise/sunset for each day. I'd assume (based off weatherbug's forecast) that the sunrise/sunset is going to be the same

[2017-04-08 22:02] InunoTaishou commented on #180
What openweathermap api call is pyowm using when it does the get_forecast? I thought it would be the 16 day one since it has a day limit but one of the members in the api call (that I've found so far) is not being added to the pyowm class. Calling .get_wind on the weather object just returns the speed. But calling the owm api call [for forecast ](http://api.openweathermap.org/data/2.5/forecast?q=L

[2017-04-09 07:25] InunoTaishou commented on #180
Sorry I keep posting about stuff not related to the original post. Found another issue when using the daily_forecast. Did a forecaster.when_starts('date') and got 4/8/2017 date (yesterday). I guess pyowm is getting the response in utc because of the interntal tzinfo=UTC()? Is there any way to change the internal tzinfo to use a supplied timezone? So the forecasts are retrieved in the zone I'm tryi

[2017-04-10 06:11] jm33-m0 commented on #179
even if I converted the timezone to UTC+8, the weather report is still based on UTC, which means, the time interval of `daily_forecast` that is supposed to be from 0:00 to 24:00 will be 8:00 to 32:00(8:00 in tomorrow morning)

[2017-04-10 08:53] csparpa commented on #179
Sorry, I'm not sure I get it...

I mean, if you ask the OWM API for a daily forecast upon a UTC+8 city, I suppose the API will return results data relative to the time window 0:00 to 24:00 __local timezone__. Then, if the JSON it returns is containing any timestamp, this will be provided in UTC, and so PyOWM along.

Do you have any evidence in code that this behaviour is not as expected?

[2017-04-10 17:57] csparpa commented on #180
.... chaos... please @InunoTaishou one issue at a time :)

Did you find any bug on PyOWM?
Are you proposing any new feature?

PyOWM gets timestamp in UTC from OWM API, then it does *not* change the timezone, so all timestamps returned are UTC

[2017-04-10 19:21] InunoTaishou commented on #180
Ohh I see

So the sunset/sunrise thing may be an assue with OWM. I made a topic on their site about the json string not have the meta class but the xml does (which contains the sunrise/sunset)

The deg member not being apart of the get_window() method is a bug with PyOWM. The deg is inside the 16 day forecast api call but is dropped somewhere in PyOWM

[2017-04-11 08:41] csparpa commented on #180
Good, thanks! I will close this issue and open a new one about the PyOWM bug

Could you please add code/details to that new issue? I will mention you so you can easily find it

Thank you very much

[2017-04-11 08:41] #180 closed

[2017-04-11 08:44] csparpa opened #181 "Deg member missing in the get_wind() method"
As per title, reported by @InunoTaishou

The deg is inside the 16 day forecast api call but is dropped somewhere in PyOWM

[2017-04-11 14:07] jm33-m0 commented on #179
with the following code, i made a query for `beijing,cn`
[code]
and `fcst` looks like this:
[code]

[2017-04-12 04:15] InunoTaishou commented on #181
[code]

http://api.openweathermap.org/data/2.5/forecast?q=64151,US&APPID=YOUR_API_KEY_HERE&cnt=1

[2017-04-12 08:06] csparpa commented on #179
Yes, it's UTC and it's how it is supposed to be!

Let me try to clarify this with an example: the "lifecycle" of weather forecasts on Beijing (UTC+8) - let's take a forecast for day 2017-04-30

  1. OpenWeatherMap API computes the weather forecast for day 2017-04-12. As forecasts need to have  a reference timestamp and its format is not cut to only YYYY-MM-DD then hours minutes and seconds need to

[2017-04-12 08:32] jm33-m0 commented on #179
thanks for the explanation, I think I need `forecaster` for more specific forecast 😂

[2017-04-27 05:14] csparpa opened #182 "Pip installation tests"
This can be done using virtualenv

[2017-05-02 19:40] #182 closed

[2017-05-02 20:21] csparpa commented on #181
@InunoTaishou hello, I've - possibly - fixed the issue, could you please test it out?

The fix is on the `develop` code branch.

I've tried out your code snippet reported above and it seems to work fine!

Thanks a lot

[2017-05-02 20:21] #181 closed

[2017-05-03 21:48] Epy commented on #181
Thanks for fixing it :)

[2017-05-04 16:43] csparpa opened #185 "Integrate saythanks into README.md"
http://saythanks.io

[2017-05-05 07:09] csparpa commented on #185
Fixed with 7d3485506d09a0d8e183e2c5d4a9a537785282d7

[2017-05-05 07:09] #185 closed

[2017-05-05 13:08] csparpa commented on #172
NO2 support was introduced with: 1e7d483ba181cedce10e2b242b544ac2c8014ea3

[2017-05-11 20:13] Niflou opened #186 "Error not properly handled when api call goes wrong"
Hi there !

I'm using home assistant, a project using pyowm and I was reporting a bug in this project but they told me I should report here (https://github.com/home-assistant/home-assistant/issues/7512).

Something goes wrong when the API call fail for some reason.

Here is the traceback I got from home assistant. The error comes from pyowm files :
[code]

I looked a little bit into it and this is

[2017-05-16 20:25] csparpa commented on #172
SO2 support introduced with: 62a74043b38bd8d057fd9ed23d5cf61b069c5cb4

[2017-05-16 20:33] csparpa commented on #172
Django_pyowm support is filed on https://github.com/csparpa/django-pyowm/issues/5

[2017-05-16 20:41] #172 closed

[2017-05-16 21:45] csparpa commented on #186
Thanks for notifying this!
I think the issue is on the `IF` series starting here: https://github.com/csparpa/pyowm/blob/master/pyowm/commons/weather_client.py#L58 because it's missing an `ELSE` statement

I will anyway add extra checks on the entity parser classes before they get to load the dict from the input JSON string, so to raise an exception whenever that input string is `None`

[2017-05-16 21:54] csparpa commented on #186
Fixed with https://github.com/csparpa/pyowm/commit/93e2b8b77f96abc0428c8817ac411dc77169c6fc

[2017-05-16 21:54] #186 closed

[2017-05-17 20:47] feliciakrismanta opened #188 "[Feature suggestion] Change wind speed unit"
While `get_temperature() `supports unit parameter, `get_wind()` does not support it. OWM has wind speed unit available as Imperial (miles/hour) or Metric (meter/sec) unit.

Suggested implementation:
`w.get_wind(unit = 'Imperial')` or
`w.get_wind(unit = 'miles/hour')` or
`w.get_wind('Imperial')`

References:
[https://openweathermap.org/weather-data](url)

[2017-05-18 20:47] csparpa commented on #188
@feliciakrismanta implemented with #189 :)
cheers!

[2017-05-25 12:36] csparpa commented on #101
This actually branched off to this new repo of mine: https://github.com/csparpa/owm-cli

[2017-05-25 12:36] #101 closed

[2017-05-25 20:22] csparpa opened #190 "City ID files are too heavy"
PyOWM (eg: version 2.6.1) weighs about 9MB - 8.2 MB only for 3 city ID files!

Think of a way to shrink down the disk space used by city ID data - as much as possible

[2017-06-19 15:16] csparpa opened #191 "Add CONTRIBUTING and CODE_OF_CONDUCT files"
As per request
References:
  - https://opensource.guide/code-of-conduct
  - https://opensource.guide/starting-a-project/#writing-your-contributing-guidelines (contents for this file are already in PyOWM wiki, must be moved here)

[2017-06-23 15:19] csparpa commented on #190
One way could be: https://docs.python.org/2/library/gzip.html

[2017-06-23 15:36] csparpa commented on #190
Indexing (on multiple fieldsets, eg. cityname + country) would be another one

[2017-06-25 06:34] Naggi-Goishi opened #192 "Can not get history, instead got BadGatewayError: <exception str() failed>"
Hello, thank you for the library.
I found a bug when you try to get history of the whether. I got Bad Gateway Error.
I figured out that is due to change in the subdomain for getting history. I guess it change from `pro` to `history` .
So, the code for `_build_full_URL` should be change, thank you.

[code]

[2017-06-25 16:34] csparpa commented on #192
Thank you for notifying the bug!
I confirm that your analysis was right, the endpoint subdomain was changed.
Will fix it!

[2017-06-25 16:36] csparpa opened #193 "Feature: weather maps tiles client"
Docs are here:

  - http://openweathermap.org/api/weathermaps
  - https://openweather.co.uk/blog/post/new-styles-weather-maps-api

Interface:

[code]

------

## Details

URI template:
[code]

Eg:
`http://tile.openweathermap.org/map/wind_new/3/6/1.png?appid=XXXXXX`

Max 18 zoom levels
256x256 pixel tiles
Looks like the tiles are "OpenStreetMap" style

## coordinates conversion
https://gis.stackexc

[2017-06-26 17:49] csparpa commented on #191
Fixed with 170c5df191bc79c9681239ec3129a36d562fe0c3 and 6030af24e66ce03b02612d754cedd06992146ff3

[2017-06-26 17:49] #191 closed

[2017-06-27 12:44] csparpa opened #194 "Automate the release pipeline"
Bullet list [here](https://github.com/csparpa/pyowm/wiki/Project-Management-docs#releasing) should be automated as much as possible

Travis could [lend a big hand](https://docs.travis-ci.com/user/deployment/pypi/) also with [staged builds](https://docs.travis-ci.com/user/build-stages/)
[EXAMPLE](https://docs.travis-ci.com/user/deployment/#conditional-releases-with-on)

[How to manage releases to P

[2017-06-27 22:27] csparpa commented on #190
Fixed with #195

[2017-06-27 22:27] #190 closed

[2017-06-29 11:49] csparpa opened #196 "Check UV endpoint changes"
This is the new UV endpoint spec: http://openweathermap.org/api/uvi

What needs to be done:
  - check if the "old" endpoint is still supported (check tests are OK/KP)
  - if not, adapt curent code to leverage the new one

This is relating also to issue #197

[2017-06-29 11:52] csparpa opened #197 "Implement new UV Index Forecast and History endpoints"
As stated here: http://openweathermap.org/api/uvi :

  - Call forecast UV data for one location  >>> new feature
  - Call historical UV data for one location  >>> new feature

These endpoints need to be implemented

[2017-06-29 19:52] csparpa commented on #192
Hello @Naggi-Goishi I've pushed a branch that should fix the subdomain change (along with some refactoring): https://github.com/csparpa/pyowm/tree/192_fix_history_endpoint

As I don't currently have - shame on me - a PRO OpenWeatherMap account (but I understood that you have one) would you please test the code out for me?
You can use the very same snippet you posted here to explain the issue.

Tha

[2017-06-29 21:03] csparpa commented on #196
This will result in an unfortunate breaking change... couldn't do otherwise

[2017-06-29 21:16] csparpa commented on #196
Fixed with #198

[2017-06-29 21:16] #196 closed

[2017-06-30 07:52] csparpa opened #199 "Fix coveralls.io"
Seems broken! https://coveralls.io/github/csparpa/pyowm

[2017-06-30 17:03] #192 closed

[2017-07-01 20:33] felinfo opened #201 "-compile failed with error code 1 in /tmp/pip-build-QuS6A8/pyowm"
Hello.

I've got this error when I have tried to install:

Command /usr/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip-build-QuS6A8/pyowm/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-iUBubH-record/install-record.txt --single-version-externally-managed --compile failed with error code 1 in

[2017-07-02 07:26] csparpa commented on #201
Hi @felinfo
Can you please tell what platform are you installing PyOWM on?
It would be good also if you could spot Pip log file and report the full error stack trace that is written on it upon the error
Thanks

[2017-07-02 08:28] felinfo commented on #201
Hello csparpa.

I use Raspberry PI, Raspbian OS. I attach the pip.log file:

[pip.zip](https://github.com/csparpa/pyowm/files/1117681/pip.zip)

Thank you.

[2017-07-03 07:11] csparpa commented on #201
@felinfo I guess you were trying to install with:

    python setup.py install

correct? If so, please don't install code from the `develop` branch, but from the `master` branch as it always contains the most recent working code.

Now, I took a look at the logfile you attached. At line 367 I see:

    error: could not create '/usr/local/lib/python2.7/dist-packages/pyowm': Permission denied

it loo

[2017-07-03 09:47] lardconcepts commented on #148
Hi Claudio,

I'm still struggling with this from the perspective of a daily forecast. You see, for the first seven hours each day, the first item in the forecast object got from `for weather in f:` is yesterday's weather.

Here is the output of the forecast day of the first two days, done at 06:55 BST this morning, Monday:

[code]

The same is on the website, as you can see from the screenshots. (

[2017-07-03 13:18] csparpa commented on #148
Hi @lardconcepts I agree, this makes a lot of sense.

If I download *now* a weather forecast about a location, I should not get any data referring to a point in time before the current timestamp.
This means that PyOWM should - upon forecast data download - discard all weather data relating to the past.

I will open up an issue for this, thanks for notifying!

[2017-07-03 13:21] csparpa opened #202 "PyOWM should discard all weather forecast data relating to the past"
It happens that whenever a Weather Forecast is requested, some data in the forecast provided by the OWM API refers to timestamps in the past (this is due to caching on their side)

Whenever this happens, PyOWM should discard those data upon building the `Forecast` object - it turns out to be a simple check of reference timestamp compared to the current datetime

[2017-07-09 10:43] felinfo commented on #201
Thanks, I solved with:

`sudo chown -R $USER /usr/local/lib/python2.7`

[2017-07-09 10:46] #201 closed

[2017-07-20 18:28] csparpa commented on #160
Also this should be useful
http://owm.io/workouts/post/weather-alerts-base-our-meteorological-data

[2017-07-26 13:20] csparpa opened #203 "Refactor API endpoint clients"
PyOWM has multiple HTTP clients (weather endpoints, ozone endpoint, CO endpoint, etc..) with a lot of duplicated code: refactoring is foreseen

[2017-07-26 18:12] csparpa opened #204 "Make PyOWM Docker image lighter"
It is currently based upon `ubuntu:16.04` base image (872.6 MB after Docker build), but should be made lighter (eg. using any `alpine` base image)

[2017-07-26 20:03] csparpa commented on #202
Fixed with #205

[2017-07-26 20:03] #202 closed

[2017-07-26 21:17] csparpa commented on #199
Fixed by #206

[2017-07-26 21:17] #199 closed

[2017-08-03 20:32] herohamp opened #207 "Get hottest weather tomorrow in new york?"
How can I get the hottest temperate in new york tomorrow?

[2017-08-04 07:11] csparpa commented on #207
Hi @herohamp - here it is:

[code]

The OWM API does not guarantee that the max temperature value is returned, so you will have to check yourself into the `temp_dict` dictionary. Try:

[code]

[2017-08-04 07:11] #207 closed

[2017-08-17 09:17] bitiuscal opened #208 "UnicodeDecodeError when using the ids_for method"
Hello,

When using the "ids_for" method to get an ID for a city, an error is thrown.
Before that is worked. It worked with Python 3.5.2. First I thought that the error is caused by newly installed Python 3.6.1, but is not. Or that is because I upgraded PyCharm from 2016.3.2 to 2017.1.3.

The error is:
**Traceback (most recent call last):
  File "D:/#_backup/OneDrive/work_python/study/02-xx/02-15a.

[2017-08-17 13:50] csparpa commented on #208
Hi! Thanks for reporting
What location were you trying to search the id for?

[2017-08-17 14:31] bitiuscal commented on #208
I tried my own town. But also for London is failing, as you may see in the screen capture (v_loc01name = "London").

[2017-08-22 09:07] csparpa commented on #208
Hello @bitiuscal unfortunately I am not able to reproduce the error: I can successfully run your code both on command line interpreter (Python 3.5.2) and PyCharm Community Edition 2017.2.1

Are you running the latest PyOWM version (2.7.1) ???

Please can you create a virtualenv and run this code inside it:

[code]

then check of the error happens?
Do like this:

[code]

your output should be:

[co

[2017-08-23 17:14] csparpa opened #209 "Implement support and configuration for SSL"
As stated [here](http://openweathermap.org/news/post/ssl-free-and-startup-accounts), it is now possible to use SSL-based communications between OpenWeatherMap API and PyOWM

We need to:
  - PyOWM can be configured to either use SSL or not (default should be: don't use it - as it might break existing PyOWM usage scenarios)
  - change URI schemas accordingly to what config says (HTTP or HTTPS)

Chec

[2017-08-29 19:58] csparpa commented on #208
@bitiuscal ping..

[2017-08-29 23:57] RussianButman opened #210 "UnicodeDecodeError: 'charmap' codec can't decode byte 0x98 in position 6074: character maps to <undefined>"
Help me please. What am I doing wrong?

[code]

[2017-08-30 17:19] csparpa commented on #210
Hello @RussianButman can you please post here
  1 . the full stacktrace that you get
  2. what python version and PyOWM version are you using? It's enough to paste the outputs of the commands: `python -V` and `pip freeze | grep pyowm`

Thanks, this will help

This issue is looking very similar to https://github.com/csparpa/pyowm/issues/208 (if not exactly the same!)... anyway, I've tried to run yo

[2017-08-31 06:07] bitiuscal commented on #208
Sorry, I didn't have time to respond.
I don't know how the virtualenv work, so I don't know how to create it. I heard about virtualenv, but never had the time to study.
The pyowm is 2.7.1.

[2017-08-31 06:36] csparpa commented on #208
Please @bitiuscal don't drop this issue as other users (#210) faced it!

Virtualenv is a tool that lets you create one-time usage python environments that are isolated from your underlying operating system so we can test the PyOWM installation without any interference by the python libraries that you might have already installed on your operating system before.

Install Virtualenv with:

    $ pip

[2017-09-02 22:38] werthd opened #211 "Py3 OSX "Module not found""
The installation makes no trouble i get the success message for Py2 and 3.
When trying to import them Py2 makes no trouble but Py3 says
`ModuleNotFoundError: No module named 'pyowm'`.
Installed via `pip2 install pyowm` and `pip3 install pyowm`.
I also tried `pip install git+https://github.com/csparpa/pyowm.git@develop` but the problem still remains.

(I hade no problem installing it on my Windows.

[2017-09-03 11:31] csparpa commented on #211
Hi @werthd it looks like your installation fails somehow

I need to understand more of your installation and local setup in oder to sort this out: could you please paste back here the outputs of the following shell commands run on your OSX setup?

[code]

The output list from the very last command should contain the path in output to the very first command (`pip3 -V`). I doubt that in your case th

[2017-09-03 11:32] csparpa commented on #210
@RussianButman ping...

[2017-09-03 11:46] werthd commented on #211
1.     pip3 -V
       pip 9.0.1 from /usr/local/lib/python3.6/site-packages (python 3.6)

2.      pip3 freeze | grep pyowm
        pyowm==2.7.1

3.      python3 -V
        Python 3.6.2

4.      python3 -c 'import sys; print(sys.path)'
        ['', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python36.zip', '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6', '/Library/Frame

[2017-09-03 11:54] csparpa commented on #211
Good thanks!

So.. your `pip3` executable is in folder `/usr/local/lib/python3.6/site-packages` but that folder does not appear in output from command n.4

Can you please post here the output of command:

[code]
And also, did you `sudo` when you used `pip3` to install PyOWM ?

Thanks

[2017-09-03 12:42] werthd commented on #211
There is no output when i execute this command and i installed it with and without sudo.

I wannet to mention that i have the same problem with face_recognition module.

[2017-09-03 13:08] csparpa commented on #211
Same outcome also running `pip3 show pyowm` with `sudo` ?

Here my best guess is that your OSX actually has **two** Python3.6 interpreters along with their respective library folders, and modules get installed in different locations depending on the one you use. In your case, when you originally installed PyOWM with `pip3`, that was using an interpreter which was different than the one you ran whe

[2017-09-03 13:16] werthd commented on #211
with sudo it says:

Name: pyowm
Version: 2.7.1
Summary: A Python wrapper around the OpenWeatherMap web API
Home-page: http://github.com/csparpa/pyowm
Author: Claudio Sparpaglione (@csparpa)
Author-email: csparpa@gmail.com
License: MIT
Location: /usr/local/lib/python3.6/site-packages
Requires:
The directory '/Users/leon/Library/Caches/pip/http' or its parent directory is not owned by the current us

[2017-09-03 13:19] werthd commented on #211
One question can I just delete the python folder in my programs folder ore the version installed via Homebrew ?

[2017-09-03 13:19] csparpa commented on #211
OK so now if you do:

[code]
you should see a `0` printed, which means the import went fine

[2017-09-03 13:23] csparpa commented on #211
No, barely erasing that folder won't be enough... you need to uninstall that Python version using Homebrew itself

You can consider to keep the Homebrew-sourced Python installed and make a system-wide alias for it... I'm not a Mac user but you can check this out [here](https://apple.stackexchange.com/questions/98912/is-there-a-systemwide-bash-profile-file) or Google for it

[2017-09-03 13:23] werthd commented on #211
/usr/local/bin/python3.6 -c 'import pyowm'
still says no module found named 'pyowm'

[2017-09-03 13:25] csparpa commented on #211
OK, try again with `sudo`

If it doesn't work, then `pip3 uninstall` PyOWM and then it's up to you to either uninstall the Homebrew version and use the default MacOS or to alias the Homebrew version

[2017-09-03 13:30] werthd commented on #211
Thanks it worked i did
`brew uninstall python3`
and then `pip3 install pyowm` now i can import it.

Thanks a lot for your time.

[2017-09-03 13:30] #211 closed

[2017-09-03 13:33] csparpa commented on #211
Super! You're welcome

[2017-09-11 11:06] ChrelleP opened #212 "Implement Docking Station Dummy"
Make a dummy node for mimicking the docking station functionality

[2017-09-11 11:09] ChrelleP commented on #212
My bad wrong repo

[2017-09-11 11:09] #212 closed

[2017-09-11 12:41] csparpa commented on #212
.... :-D no problem!

[2017-09-14 12:46] mmagnuski commented on #210
I am having a similar error:
[code]

What I am doing:
[code]

Stack trace:
[code]

I am using:

. | version
---|---
platform | Windows 10
python | Python 3.5.1 :: Anaconda 4.1.0 (64-bit)
pyowm | 2.7.1

[2017-09-14 18:46] csparpa commented on #210
Hi @mmagnuski thanks for helping with this!

Please - if you can - take a look at the code in [this branch](https://github.com/csparpa/pyowm/tree/210_unicode_error) containing a possible fix for the issue...

In order to test it, you should first remove your current PyOWM installation with `pip3.5 uninstall pyowm` and then install again PyOWM by:

  1. Cloning the repo with `git clone https://gith

[2017-09-15 11:49] csparpa commented on #210
Hi @mmagnuski and @RussianButman I've been able to test the branch on Windows 10 with Python3.5 and it seems to work fine (I manage to get the correct output for the `ids_for()` call when running mmagnusky's code snippet)

Can you please confirm that you also don't get exceptions?

[2017-09-15 12:25] mmagnuski commented on #210
Thanks for detailed instructions, I installed with `develop` to make things easier in the future.
I can confirm the branch fixes the problem for me:
[code]
[code]
Thanks!

[2017-09-16 08:16] csparpa commented on #210
Thanks @mmagnuski !

Fixed with #213

[2017-09-16 08:16] #210 closed

[2017-09-16 08:18] csparpa commented on #208
This looks like the same issue as #210 that was fixed with #213

[2017-09-16 08:18] #208 closed

[2017-10-08 05:19] exoqrtx opened #214 "Pulling forecast data using list of ids"
I've been playing around with weather_at_ids and it seems to work a lot faster than individually pulling them using weather_by_id (although I haven't actually timed it, but it seems that way).  Looking through the docs I don't see a similar option for pulling forecasts by lists of id's, which would be really useful.  Is this a limitation of the source data or is this something that could added?

[2017-10-09 17:04] csparpa commented on #214
Hi @exoqrtx I think this is a limitation of the OpenWeatherMap API

If you take a look here: http://openweathermap.org/current (look for "Call for several city IDs") they say there is an endpoint `/group` which returns a list of observations and takes as input a list of city IDs

Which does not happen - unfortunately - for forecasts: if you take a look here:
  - http://openweathermap.org/forecast5

[2017-10-09 17:04] #214 closed

[2017-11-12 18:29] niklasHagner opened #215 "will_be_sunny_at returns True even after sundown"
Thanks for a great lib. ⭐️  I've been trying it out for a while and it's been working great except for one thing:
- The function `fc.will_be_sunny_at` returns `True` long after sundown.

In sitting here in the darkness of winter-Stockholm during November, when sun sets around 15:30.
Yet `fc.will_be_sunny_at` optimistically reports that it will be sunny tonight at 22:00 😄
_(Unless I've completely m

[2017-11-14 07:47] csparpa commented on #215
Hi and thanks for reporting!
I haven't debugged the code yet but the first thing that comes to my mind is: you might be mislead by the weather conditions named "sunny" and "sun"

I think these are equivalent and they both mean that the sky is clear (not cloudy)...you probably got that these convey the presence of the sun, which is not of course possible by night and by most of long Swedish winter

[2017-11-16 11:52] jaspereb opened #216 "daily_forecast("Milan,it") fails with free API key"
Thanks for the library, it's been super helpful.

The Readme page example code failed with an invalid API key error. Not sure if they changed the pricing plan recently, but the daily forecast is not part of the free API, it would be great to have this commented because the rest of the library is so easy to get started with.

[2017-11-16 21:09] csparpa commented on #216
Thanks for the suggestion @jaspereb !

I've removed it from the `README.md` file

Cheers!

[2017-11-16 21:09] #216 closed

[2017-11-24 16:04] gsimiao opened #217 "Unauthorized error when using free api key for daily_forecast"
Hi Claudio,

Thank you for maintaining this library. I am a beginner trying to get daily forecast information from OWM. According to the website it is possible to get 5 days/3 hour forecast with the free API, however I get an error when I use your daily_forecast method. I know my API key is working because I am able to get current condition information. I am using Python 3.5, Windows 10, Jupyter N

[2017-11-24 19:12] csparpa commented on #217
Hi @gsimiao thanks for using PyOWM

I've just tried your code above using my personal free API key and it works... I get the forecast for Seattle

Did you retry at a different time? Maybe the API gave back an unexpected error. Also, you could try to sign up for a different API key in order to test the same code on your side.
If none of the above works, then I think the only way is to debug the cod

[2017-11-25 15:07] PhilippTh opened #218 "Attribute Error OWM"
I always get AttributeError: module 'pyowm' has no attribute 'OWM' even when using the example code in the docs.

[2017-11-26 10:14] csparpa commented on #218
Hi @PhilippTh I need you to provide more detail in order to be able to help you

Can you please paste here the exact code that is not working? Or at least a reference to the part of the docs you are referring to

Thanks

[2017-11-26 18:04] PhilippTh commented on #218
Hi, thank you @csparpa for the quick response!
The code I'm using is from your example code in the docs folder.

from pyowm import OWM
API_key = 'I use my own API'
owm = OWM(API_key)
w = owm.daily_forecast(location)
print (w)

Thanks for the help!

[2017-11-26 20:26] csparpa commented on #218
So... You said you have an installation on Ubuntu. Can you please launch the command

    pip show PyOWM

and paste here the full output of it?
Thanks man

[2017-11-27 01:28] gsimiao commented on #217
Thanks for the quick reply. I tried all the changes you suggested as far as a different time and a new API key from another account. I also tried using the IDE that comes with Python (that looks like notepad). Nothing worked. I wonder if it is something with my system. But in any case, I was using this library to test out the data that comes from OWM for an Arduino project that I am working on. I

[2017-11-27 15:12] csparpa commented on #217
Please, don't go for another library - give PyOWM (and peace) a chance! :)

You said you were able to fecth observation data, but not forecast data. That is weird. I mean, I have an API key the same "clearance level" as yours, I should get the same issue as well but I don't.

Then the next unavoidable move would be debugging. If you choose to debug, don't use IDLE, use PyCharm or Eclipse. The line

[2017-11-27 18:22] csparpa commented on #218
Also @PhilippTh please paste the output of

    pip3 show pyowm

My doubt is that you are using Python3 but installed PyOWM using `pip` for Python 2 !

[2017-11-28 10:15] PhilippTh commented on #218
The outcome to both commands is:

[code]

[2017-11-28 10:30] csparpa commented on #218
What interpreter did you use to run the code that fails?

Can you also pls enter that interpreter and paste here the output of:

    import sys
    print(sys.path)

Thanks

[2017-11-28 15:41] PhilippTh commented on #218
I used the python interpreter

the command outputs
`['', 'C:\\Users\\Philipp\\AppData\\Local\\Programs\\Python\\Python36\\python36.zip', 'C:\\Users\\Philipp\\AppData\\Local\\Programs\\Python\\Python36\\DLLs', 'C:\\Users\\Philipp\\AppData\\Local\\Programs\\Python\\Python36\\lib', 'C:\\Users\\Philipp\\AppData\\Local\\Programs\\Python\\Python36', 'C:\\Users\\Philipp\\AppData\\Local\\Programs\\Python\

[2017-11-28 17:58] csparpa commented on #218
@PhilippTh I've just tried to run your code on Linux+Python3.6.3 setup, it works like a charm...

Please bear with me and do this test for me please:
  1. use your Ubuntu setup, not Windows - what Ubuntu version is it?
  2. create a file with this code

[code]
and then run the file with the same interpreter that gave you the errors before.

Eventually, please paste here the stack trace. Thanks a l

[2017-11-29 13:25] RaenonX opened #219 "owm.city_id_registry() incompatible on Python 2.7.14"
I ran the code below:
[code]
And got the these things:
[code]
Does anyone has the same problem as mine?

And I found [this forum](https://bugs.python.org/issue30012) that says this is not the bug, should use the code like:
[code]
to fix it.

I hope that copying whole package and just edit one line will not be necessary :rofl:

[2017-11-29 14:23] PhilippTh commented on #218
I´d like to thank you for your patience with me and all the quick responses.

I tried this, and the output was:
Traceback (most recent call last):
  File "test.py", line 3, in <module>
    raise ValueError()
ValueError

[2017-11-29 17:23] csparpa commented on #218
My output was exactly as yours - you get the object printed out!

So you made it! Congrats!

Nobody will ever guess what the issue was, but that's OK as far as the library works ;)

[2017-11-30 01:28] RaenonX commented on #219
Additional Information:

I forgot to mention that my Python is running on Windows :rofl:

And I did some "research" on the source code and extracted the CityIDRegistry class. After I replace:
`with gzip.open(res_name, "rt") as fh:` (Line 198)
with
`with gzip.open(res_name, "r") as fh:`

IT WORKS 😄

Code:
[code]
Output (Console):
`[(1668399, u'Taichung', u'TW')]`

[2017-11-30 18:55] #218 closed

[2017-11-30 20:14] csparpa commented on #219
Hi @RaenonX I've run your very same code

  - on a container from the official Docker Python 2.7.14 image
  - on my Linux box, which also has Python 2.7.14 installed

and got no errors, everything was smooth

That said, [we have tests](https://github.com/csparpa/pyowm/blob/develop/tests/integration/webapi25/test_cityidregistry_reads_fs.py) covering `CityIDRegistry` class: they would fail if there

[2017-12-01 04:36] RaenonX commented on #219
Probably it's because the platform In using? I got that when I ran the code
on Windows

On Dec 1, 2017 4:14 AM, "Claudio Sparpaglione" <notifications@github.com>
wrote:

[2017-12-05 21:11] csparpa commented on #219
Hi @RaenonX I've finally found time to test the potential bug on Windows and you are right: the issue happens on Python 2.7.x

I've also tested your fix and it works nice :)

So thanks again for reporting!

[2017-12-05 21:17] csparpa commented on #219
Fixed by https://github.com/csparpa/pyowm/commit/43ff6128f3d84d5ce9b1ad9e0e2b6efcda46c499

[2017-12-05 21:17] #219 closed

[2017-12-07 10:40] eventus17 commented on #217
Hi Claudio!
I had the same issue. I commented lines below from the main example and it works:
[code]
Didn't investigate the reason of this behavior.

Appreciate Your work over pyowm! Thank You!
Regards Jacek

[2017-12-07 11:30] csparpa commented on #217
Thanks @eventus17

I just wanted to also ping @gsimiao about the "test" I've suggested above

I will try to debug the thing on Windows (it might be a platform issue?)

[2017-12-07 12:23] eventus17 commented on #217
I was running the example script on Win 10 after clean Python 2.7 installation

[2017-12-07 20:47] gsimiao commented on #217
I am a beginner and unfortunately don't know enough to debug. Sorry

[2017-12-11 21:03] IlhamriSKY opened #221 "leng or language"
owm = OWM(language='id',API_key=key)

i try language of indonesia and result always EN

[2017-12-12 08:03] csparpa commented on #221
Hi @IlhamriSKY you didn't find it because your language is not among the ones supported by the OpenWeatherMap API (yet, at least). So you get English as a default.

You can find the list of supported languages [here](https://openweathermap.org/current), just look for "Multilingual support"

Cheers

[2017-12-12 08:03] #221 closed

[2017-12-16 16:53] csparpa commented on #204
Closed with #222
Thanks @Simone-Zabberoni !

[2017-12-16 16:53] #204 closed

[2017-12-17 17:44] csparpa opened #223 "Ensure test suites are also run on Windows"
Using a Docker Windows image could be a quick and scriptable way

Refer to https://stefanscherer.github.io/is-there-a-windows-docker-image-for/ for details about Windows-python images available

[2017-12-18 09:39] RaenonX opened #224 "ParseResponseError: Exception in parsing OWM web API response"
I got this error when I use the coordinates to try to get the weather data:
`Reason: pyowm.webapi25.forecastparser: impossible to read location info from JSON data `

Coordinates is
[code]

[2017-12-18 10:42] csparpa commented on #224
Hi @RaenonX  it might be that the OWM API is temporarily returning badly formatted JSON data (this happens seldom and usually is fixed upstream). But, it might also be that the change in the JSON format is voluntary and here to stay (and then we need to fix PyOWM accordingly)

Did you try to change the geocoords and see if you get the same error?
Also, did you repeat the call after a while? You ge

[2017-12-18 20:09] csparpa commented on #224
@RaenonX

[code]

that actually works quite well to me

Did you try to repeat the call?

[2017-12-18 21:21] RaenonX commented on #224
I am not at home now. I will try to repeat that codes after I go back home.

By the way, the function that I used and throws the error is
three_hours_forecast_at_coords (latitude, longitude).get_forecast()

On Dec 19, 2017 4:09 AM, "Claudio Sparpaglione" <notifications@github.com>
wrote:

[2017-12-18 21:37] csparpa commented on #224
Thanks.

That's a bug! The JSON from the API has changed but the `Location` parser is not robust enough to return a "Null object" for the location bound to the forecast.

[2017-12-18 21:44] RaenonX commented on #224
Haha, thanks for fixing the bug :)

On Dec 19, 2017 5:37 AM, "Claudio Sparpaglione" <notifications@github.com>
wrote:

[2017-12-18 22:13] #224 closed

[2017-12-18 22:13] csparpa commented on #224
Fixed by https://github.com/csparpa/pyowm/commit/eb4ae017030079d57400ee8d4fb2f6a8802b8f5c

[2017-12-19 17:51] csparpa commented on #215
@niklasHagner ping

[2017-12-19 20:01] csparpa commented on #137
Introduced with #225

[2017-12-19 20:01] #137 closed

[2017-12-20 16:58] niklasHagner commented on #215
Yeah, seems like that is the case.

`will_be_sunny_at` is quite a misleading name. A better name would be something like `will_be_clear_at`.

[2017-12-20 17:55] csparpa commented on #215
I absolutely agree with you

Also, the `will_be_sunny_at `method is specifically looking for the "sun" string as a value for the forecasted weather status... this means that we don't need a new name, but we need a new method also!

Thanks for notifying, I will open up a new feature issue for this

Cheers!

[2017-12-20 17:55] #215 closed

[2017-12-20 17:57] csparpa opened #226 "Add a new will_be_clear_at method to Forecaster class"
As per title

It should look for `"clear"` weather status

[2017-12-21 11:51] csparpa commented on #226
Also deprecated the methods that query for "sun" conditions - as the naming for them is wrong (you can have clear sky even if it is not sunny because it's night - as stated in #215)

[2017-12-21 11:52] csparpa commented on #226
Fixed with #227

[2017-12-21 11:52] #226 closed

[2017-12-21 11:55] csparpa commented on #217
Closing as this cannot be objectively proved to be an issue

[2017-12-21 11:55] #217 closed

[2017-12-21 14:07] nikhilv-quantela opened #228 "Accessing OWM pollution data"
Is there a way to access air pollution data of Open Weather Map from pyowm

[2017-12-21 16:21] csparpa commented on #228
Here we go: https://github.com/csparpa/pyowm/wiki/Air-Pollution-API:-Carbon-Monoxide-Index

[2017-12-21 16:54] nikhilv-quantela commented on #228
Thanks a lot, understood.

Just one doubt, I got the value of coi like this.
`{'precision': 6.818107749495539e-07, 'pressure': 0.10000000149011612, 'value': -5.378958007895562e-07}`

Is negative volume mix ratio possible?

Thanks

[2017-12-21 17:06] csparpa commented on #228
It looks like possible (though I have no idea about what it could mean on a chemical point of view :-/ )

On the OWM website, at this page: http://openweathermap.org/api/pollution/co you find examples responses with negative values for the `value` JSON attribute

I advise to drop a line to OWM tech support, just to be 100% sure they provide meaningful values

[2017-12-21 17:38] nikhilv-quantela commented on #228
Thanks, will look into it

[2017-12-21 20:26] #228 closed

[2017-12-22 02:57] nikhilv-quantela opened #229 "Regarding OWM Air Pollution SO2 and others"
I was able to get CO Index and all as you taught in https://github.com/csparpa/pyowm/wiki/Air-Pollution-API:-Carbon-Monoxide-Index.
 But I was unable to get SO2, NO2, and O3 indices in similar fashion. Is that not accessible yet.

Thanks

[2017-12-22 06:47] csparpa commented on #229
It is indeed man

Please read the pages on the wiki, all of these features are in place

[2017-12-22 08:43] csparpa commented on #229
For your convenienve:

- O3: https://github.com/csparpa/pyowm/wiki/Air-Pollution-API:-Ozone
- NO2 and SO2: read [here](https://github.com/csparpa/pyowm/wiki/Changelog#whats-new-in-release-271) about the new methods, they work exactly as for O3

Sorry if the docs is not straightforward, I will fix it

[2017-12-22 09:38] nikhilv-quantela commented on #229
Thanks a lot

[2017-12-22 10:07] #229 closed

[2017-12-31 01:11] asottile opened #231 "Deadsnakes has moved!"
Hello -- deadsnakes maintainer here.

Was doing a cursory sweep of github and noticed that your wiki [here](https://github.com/csparpa/pyowm/wiki/Project-Management-docs) still references the old ppa name (`ppa:fkrull/deadsnakes`).  The new ppa name is `ppa:deadsnakes/ppa` (or simply `ppa:deadsnakes` since the default ppa name is "ppa").

[2017-12-31 08:29] csparpa commented on #231
Hey @asottile thank you very much for notifying!

I've patched references to `deadsnakes`

[2017-12-31 08:29] #231 closed

[2018-01-03 14:35] csparpa opened #232 "Introduce Requests as API client"
Use `requests `for all calls to OWM (currently it is only used only on certain endpoints such as Pollution API ones and Stations API endpoints).

[2018-01-03 14:43] csparpa opened #233 "Introduce support for HTTP and SOCKS proxies"
As a user I want to use PyOWM behind proxies

Reference on `requests`:  [HTTP](http://docs.python-requests.org/en/master/user/advanced/#proxies) and [SOCKS](http://docs.python-requests.org/en/master/user/advanced/#socks) proxies

[2018-01-03 14:43] csparpa commented on #223
Cannot be done with Docker, must use either a VM or run tests on Windows itself

[2018-01-03 14:43] #223 closed

[2018-01-26 10:35] csparpa opened #234 "Prettify documentation on readthedocs"
Make it more readable by eg. adding some introduction page

[2018-02-02 22:51] csparpa commented on #232
Fixed with #235

[2018-02-02 22:51] #232 closed

[2018-02-04 09:19] tomasantunes opened #236 "Broken links"
On the file pyowm/pyowm/docs/usage-examples.md

This documentation page mentions two URLs about weather condition codes but the links are broken on lines 182 and 183.

[2018-02-05 08:51] csparpa commented on #236
@tomasantunes thanks for notifying the broken links!

These have been replaced on the `develop` branch with one working link: https://openweathermap.org/weather-conditions

[2018-02-05 08:51] #236 closed

[2018-02-11 21:15] kubow opened #237 "Invalid API key - due to urllib.error.HTTPError: HTTP Error 401: Unauthorized"
tried both on Windows 10 (python 2.7/3.6.4) and fedora linux (python 2.7/3.6.4)
[code]
returns:

looks like the urllib is not working for me, anyone else having this troubles?
Is it possible to implement requests instead?

if I type https://api.openweathermap.org/data/2.5/weather?q=Prague, cz&APPID=###
it returns desired json content... so I am sure the api_key is good

the pyowm version should be

[2018-02-12 08:38] csparpa commented on #237
Hi @kubow thanks for reporting this

This is likely an issue on the API side (it already happened in the past), I will investigate it as soon as I can.

**FYI** you can install the development branch of PyOWM that introduces `requests `as HTTP client (instead of `urllib`). That might fix your issue... can you give it a try?
You can install with:

    git clone https://github.com/csparpa/pyowm.git

[2018-02-19 01:25] hildogjr commented on #237
Tested the Git code on Ubuntu Python3 (don't needed requests installations) -> Ok!

[2018-02-19 06:22] #237 closed

[2018-02-20 15:31] hildogjr opened #238 "Add support to more APIs / websites"
Add support for more weather / forecast services and keep the same output may be an interesting method to this library became a layer in a application that use weather and can not depend of a unique server.

[2018-02-20 16:56] csparpa commented on #238
Looks like a bit off topic here, huh? ;)  Man, that's a whole new service one could make a company out of. I wouldn't bet on that, though

[2018-03-20 08:37] Harmon758 commented on #176
Sorry for the _very_ late response, but yes, it's fixed now.
Thank you!

[2018-03-20 09:47] csparpa commented on #176
:D no probs! thanks

[2018-03-20 23:04] brainwane opened #239 "Twine update?"
Hi! I'm one of the maintainers of [Twine](https://pypi.org/project/twine/) and I saw that you specify an older version (we just released [version 1.11.0](https://pypi.org/project/twine/1.11.0/)) in your requirements. Please do let me know if there are any barriers to you upgrading? Thanks!

[2018-03-21 08:43] csparpa commented on #239
Hello @brainwane !
No issues with upgrade - only me being too lazy in updating things :-D

The issue has been fixed with: https://github.com/csparpa/pyowm/commit/c7789b909781a30143a66f6c78331e8089aa65c6

Thanks for letting us know about it

[2018-03-21 08:43] #239 closed

[2018-03-21 15:06] brainwane commented on #239
Thanks! Some folks use https://pyup.io/ to help remind them to upgrade new dependencies, in case you want to try that.

[2018-03-28 13:24] #238 closed, assigned to nobody

[2018-03-28 13:31] csparpa opened #240 "Verify if actions are needed upon the PyPi --> Warehouse transition"
https://pyfound.blogspot.it/2018/03/warehouse-all-new-pypi-is-now-in-beta.html

In particular
  - verify if the pre-existing PyPi website personal login has been ported to Warehouse website. In case, register a new one
  - check if `twine `needs an update of credentials/URLs

[2018-04-04 16:46] csparpa opened #241 "Timeline for dropping python 2.x support"
Verify official recommendations for python 2.x end of life support and setup a proper deprecation timeline for dropping 2.x support on pyowm

[2018-04-06 08:41] csparpa opened #242 "Implement Pipfile"
https://github.com/pypa/pipfile

[2018-04-06 10:12] csparpa commented on #241
Concise info here: https://pythonclock.org/

[2018-04-06 14:32] csparpa commented on #241
Timeline defined: all the details here:  https://github.com/csparpa/pyowm/wiki/Timeline-for-dropping-Python-2.x-support

[2018-04-06 14:32] #241 closed

[2018-04-06 15:37] csparpa opened #243 "Remove Python 2.x support (as part of the foreseen timeline)"
As stated in the [plan for Py 2.x support dropping](https://github.com/csparpa/pyowm/wiki/Timeline-for-dropping-Python-2.x-support) actions need to be taken in order to remove from the active branches (which are all but the `v2.9-LTS`) support for Python 2.x

This means:
  - fixing `setup.py` so that Python 2.x users won't be able to install PyOWM 2.10+
  - remove code sections that branch on Py2/

[2018-04-06 15:39] csparpa opened #244 "Create v2.9-LTS branch for Long Term Pyhon 2.x support"
As part of the dropping timeline for Python 2.x support, a new branch needs to be branched out from the 2.9 release: the `v2.9-LTS`

That new branch will live until January 1st, 2020

This is sort of a reminder to do that

[2018-04-10 20:34] csparpa commented on #240
Nothing to do... closing this

[2018-04-10 20:34] #240 closed

[2018-04-12 11:02] csparpa commented on #209
Requests [SSL Cert validation](http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification)

[2018-04-12 11:17] csparpa opened #245 "Implement Soil API support [Agro]"
Please refer to https://agromonitoring.com/api/current-soil for detail

**This API has the support for Polygon API as a prerequisite**

# Analysis

## Soil endpoints
GET soil

### Entities
(under the `agro10` package)
Soil

[code]

[2018-04-12 17:32] csparpa commented on #242
Created using `pipenv==11.10.0`

[2018-04-12 17:32] #242 closed

[2018-04-13 15:47] csparpa opened #246 "Support for async API calls"
This would leverage Python 3.5's async/await features

API calls could just be async functions (aka coroutine functions) that pyowm returns and then get executed on an eventloop provided by client code

*note*: asyncio is part of the python std library only from 3.5 so 3.4 doesn't feature it (but asyncio can be imported as an external dependency)

### Design solution
Make PyOWM 2.x sync functions

[2018-04-16 17:46] csparpa opened #247 "Improve caches with invalidation"
Add the possibility to invalidate cached things (invalidate a single cached key or the whole cache)

[2018-04-16 17:50] csparpa opened #248 "PyOWM config as a dict"
New interface for injecting config into the main PyOWM entry point.

## Requirements

The config dict can be provided either:
  - as an external file
  - as a Python dict

The config file are JSON based

Each OWM API (weather API, pollution API, etc..) has its own configuration
section in the global config dict

TODOs
- place a default config file into the rooot PyOWM folder. This will collect
  i

[2018-04-17 21:32] #209 closed

[2018-04-18 13:46] csparpa commented on #197
Fixed with #250

[2018-04-18 13:46] #197 closed

[2018-05-29 18:40] TuxSeb opened #251 "Language support doesn't work"
I have an issue when i'm trying to use French on pyowm, here's the the code:

[code]
and here's the output:
[code]
What Pyowm is supposed to do when we use an other language ? shouldn't it print the French word for haze ?

pyowm version: 2.8.0

thanks for your help

[2018-05-30 16:27] csparpa commented on #251
Hi @TuxSeb thanks for pointing this out

I've checked out and it looks like everything works fine. When you call `print w` the weather's `status` property is printed but unfortunately that string is not translated by the OWM API

The reason is mentioned here: https://openweathermap.org/current :

![image](https://user-images.githubusercontent.com/5172190/40733537-2a1846b6-6436-11e8-8ce2-22d31521f1

[2018-05-30 20:13] TuxSeb commented on #251
Ok, thanks you !

[2018-05-31 19:47] csparpa commented on #251
Fixed with https://github.com/csparpa/pyowm/commit/cceeb1a1fb6e64aa29c670e4dc92022a7f907c11

[2018-05-31 19:47] #251 closed

[2018-06-21 11:59] csparpa opened #252 "Drop Python 3.3 support as it is EOLed"
As per title...

[2018-06-21 13:33] hugovk commented on #252
Python 3.3 is EOL (2017-09-29) but 3.4 isn't until 2019-03-16.

https://en.wikipedia.org/wiki/CPython#Version_history

Here's the pip installs for PyOWM from PyPI for May 2018:

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |  85.68% |         10,674 |
| 3.6            |   8.65% |          1,078 |
| 3.5            |   2.99% |

[2018-06-21 13:40] csparpa commented on #252
Thanks @hugovk good one!
I was wrong about Python 3.2 - I will fix the docs and change the README.md as well
And of course Py3.4 support will stay

[2018-06-21 13:41] csparpa opened #253 "Python 3.7 support"
as per title

[2018-06-22 10:59] lardconcepts commented on #252
That chart above is just so disappointing to see, and part of the reason I've moved almost everything I can (except notable packages like PyOWM!) to Node. Support for Python 2.7 has already been extended by 4 years, but will completely end in 1 year and 6 months time.

https://pythonclock.org/
http://python3statement.org/

Who the hell ARE all these people using software which ceased active develo

[2018-06-22 11:07] lardconcepts opened #254 "pyowm 2.8.0 has requirement requests<2.19"
Just did the regular `pip-review --local --interactive` and it brought requests up to the current version.

However, I then got this error:

`pyowm 2.8.0 has requirement requests<2.19,>=2.18.2, but you'll have requests 2.19.1 which is incompatible.`

Would be great to be able to use latest versions of both! Thanks for your great work on this.

[2018-06-22 11:23] csparpa commented on #254
Hi! I've just happened to fix this yesterday (crystal ball!!) as the Travis-CI build broke for python 3.4 for this exact issue..

As honestly speaking there is no reason why requests should be <2.19 and requests uses semantic versioning, I've changed that to <3

[2018-06-22 11:29] csparpa opened #255 "A nice logo for the project"
Community, please help! I am a terrible designer!!

A few ideas about designing logos: https://about.twitter.com/en_us/company/brand-resources.html

Also provide a license for the logo

[2018-06-22 11:33] csparpa commented on #254
Fixed with 0d92adaa6b296b136772b6b179c97ad7f0accc4f

[2018-06-22 11:34] #254 closed

[2018-06-22 14:20] hugovk commented on #252
Yeah, it varies a lot by project. For example, https://github.com/davidhalter/parso/pull/38 is at 96% Python 3.

[2018-06-24 18:40] marlinmm commented on #255
Hey,
I have just started using pyowm for a project at my university and saw that you´re looking for a logo design.

What did you have in mind? I´m not a professional designer and created the design draft just for fun...
What do you think about it?

![open weather 2](https://user-images.githubusercontent.com/40545276/41822370-c4d4d52c-77ee-11e8-857a-cc4fab5cafdc.png)

[2018-06-25 16:48] csparpa commented on #255
@marlinmm that's nice! Thanks! :)

I personally like it, but also would like to wait for a few more proposals to come in so we have more options to choose from

Let me also publicly ask the community about their opinion on the logo

[2018-06-27 22:05] n0id commented on #255
@marlinmm how suitable, I like it!

[2018-07-03 12:59] csparpa commented on #234
Done with https://github.com/csparpa/pyowm/commit/a406ef81827469a07ba4123e4913bad2f6c4850c

[2018-07-03 12:59] #234 closed

[2018-07-11 18:07] csparpa opened #256 "pyowm==2.8.0 and requests==2.19.1 incompatibility"
The issue arises whenever one has `requests==2.19.1` installed and tries to install `pyowm==2.8.0`

Please refer to https://github.com/home-assistant/home-assistant/issues/15333 for a broader description.

The issue has fixed by modifying the `setup.py` so that requirements on requests are now `requests>=2.18.2,<3`

[2018-07-11 18:07] csparpa commented on #256
Fixed with 0d92adaa6b296b136772b6b179c97ad7f0accc4f

[2018-07-11 18:07] #256 closed

[2018-07-12 13:21] Pharizna commented on #256
Where is the setup.py?

[2018-07-12 13:23] csparpa commented on #256
https://github.com/csparpa/pyowm/commit/0d92adaa6b296b136772b6b179c97ad7f0accc4f

[2018-07-12 13:46] Pharizna commented on #256
Thank you but I can't find the file in that foler:
Thanks @csparpa but I can't find setup.py in your folder :(

`
pi@HASSIO:**/srv/homeassistant/lib/python3.5/site-packages/pyowm** $ ls -l

total 44

drwxr-xr-x 3 homeassistant nogroup 4096 Jan 18 20:12 abstractions

drwxr-xr-x 3 homeassistant nogroup 4096 Jan 18 20:12 caches

drwxr-xr-x 3 homeassistant nogroup 4096 Jan 18 20:12 commons

-rw-r--r--

[2018-07-16 19:24] csparpa opened #257 "Refactor UV API and Air Pollution API code to dedicated packages"
Refactor UV API and Air Pollution API endpoints out into separate pacakges (now they're under the `webapi25` package)

Also don't forget to adapt documentation and `setup.py`

[2018-07-18 20:29] csparpa opened #258 "Introduce current weather search on cities inside a bbox"
As per https://openweathermap.org/current at section "Call current weather data for several cities", is a new method to introduce on `OWM25`:

[code]
This replaces the `owm25.weather_at_stations_in_bbox` method, which will be deprecated on PyOWM v3

[2018-07-18 20:31] csparpa opened #259 "Deprecations on a few OWM25 methods"
- Method `OWM25.weather_at_stations_in_bbox` needs to be deprecated in favour of a city-based bbox search (see #285). This should be derecated on PyOWM v3
- Method `OWM25.weather_at_station` needs to be deprecated as it is already replaced by Station API methods

[2018-07-18 20:58] #160 closed

[2018-07-18 21:08] csparpa commented on #259
Fixed with dcf774ccc4a9132957458f44fab4f8ded321d4a6

[2018-07-18 21:11] #259 closed

[2018-07-23 18:05] csparpa commented on #255
@marlinmm I could not resist, the logo is SO DAMN COOL! :) I've added it to the next release...

[2018-07-23 18:05] #255 closed

[2018-07-23 20:30] marlinmm commented on #255
@csparpa I'm glad you guys liked it :)
Really awesome to be a small part of this cool project

[2018-07-28 09:14] csparpa commented on #257
Fixed with b1e24267f823134634e226f2cf343621cc31019b

[2018-07-28 09:14] #257 closed

[2018-07-28 10:07] #244 closed

[2018-07-30 14:50] csparpa opened #262 "Recipe book"
As part of the overall PyOWM documentation, write a "recipe book" that explains how to perform concrete PyOWM actions, such as:
  - find current weather at XXX
  - find forecasted weather at XXX in 3 days
  - delete a meteostaton
  - set a weather alert
  - ...

This should be "hands-on" (code, not words)

[2018-08-03 10:35] csparpa opened #263 "Characterize Weather API code sections"
As it was done for https://github.com/csparpa/pyowm/issues/257 we need to collect all the `webapi25` related code and put it into a new `weatherapi25` package

As usual, keep an eye on `setup.py`, integration tests, etc..

[2018-08-03 13:08] csparpa opened #264 "Implement Polygon API support [Agro]"
# Analysis
Polygons and Soil endpoints are part of the Agro API 1.0, and will therefore be grouped under the new `agro10` package

## Polygons endpoints

Please refer to https://agromonitoring.com/api/polygons for reference

GET, POST, PUT, DELETE  a polygon

Note: POST and PUT calls with `Content-Type: application/json`

### Entities
Polygon
[code]

Agro API manager
[code]

[2018-08-03 13:20] csparpa opened #265 "Document PyOWM 2 stream maintenance timeline"
Lay out and publish a timeline for PyOWM 2 stream maintenance

PyOWM 2 stream should only be touched to fix bugs, no new features. The timeline should encompass an overall End-Of-Life date and should take into account the Python 2 LTS branch (`v2.9-LTS`) until its "natural" death on Jan 1, 2020

[2018-08-04 10:55] csparpa commented on #252
Fixed with 2945443c33bf8de9792a7e6cff4e085dd620df05

[2018-08-04 10:55] #252 closed

[2018-08-04 12:39] csparpa commented on #243
Fixed with e73a4daa79b7ae996dae69974205b95c5b586662

[2018-08-04 12:39] #243 closed

[2018-08-05 18:09] MichaelSternNYC opened #266 "API working for weather_at_place() but not owm.daily_forecast() or other calls"
I have a couple of OpenWeatherMap free API keys. They work fine for

[code]

but if I try

`forecast = owm.daily_forecast('Dobbs Ferry, US')`

I get the error

[code]

Free API should give access to basic forecasts; what am I doing wrong?

[2018-08-06 12:54] csparpa commented on #266
Hi

It looks like daily forecasts are not free of charge any more:

https://openweathermap.org/price

while3h forecasts still are :-/

[2018-08-06 12:57] MichaelSternNYC commented on #266
5day / 3 hour forecast looks free to me. Was I using the wrong command for this API call? If so, what should I have done?

Thanks.

Von meinem iPhone gesendet.

[2018-08-06 13:04] csparpa commented on #266
If you're ok with 3 hours granularity forecasts (on a 5 days streak), then go with:

https://github.com/csparpa/pyowm/blob/197540db41cf90ce84d2e233f770b290de6d99ca/pyowm/webapi25/owm25.py#L473

What you did is call the daily_forecast() method which fetches 1 day granularity forecasts on a 16 days streak, but is on the paid tier as we said

Makes sense? Let me know!

[2018-08-06 14:43] MichaelSternNYC commented on #266
Makes sense. I’ll try it when I get home tonight.

Thank you,

MS

[2018-08-12 20:07] MichaelSternNYC commented on #266
Worked like magic. Thanks for checking.

[2018-08-13 06:05] #266 closed

[2018-08-17 19:26] csparpa commented on #263
Fixed with 279d75d6668cab0bca5efc61b66147a1e2bb861e

[2018-08-17 19:26] #263 closed

[2018-08-28 00:20] IoIxD opened #267 "Suddenly unable to use pyowm entirely."
My bot was working fine for the past few months, but yesterday it just stopped working suddenly.

You can see from the above code I verified myself that I installed pyowm. I also installed it thorugh normal pip as well. Yet, for some reason suddenly, Python does not except pyowm.

I don't think it has to do with my code so I'm not including it here.

[2018-08-28 00:22] #267 closed, assigned to nobody

[2018-08-28 05:52] csparpa commented on #267
:-) no problem, it happens!

[2018-09-26 15:49] NikSudo opened #268 "OWM module not found"
Hallo)

import pyowm
owm = pyowm.OWM('mykey')

observation = owm.weather_at_place('London')
w = observation.get_weather()
print (w)

and console get me:
`Traceback (most recent call last):
  File "/home/niksudo/projects/pyowm/pyowm.py", line 1, in <module>
    import pyowm
  File "/home/niksudo/projects/pyowm/pyowm.py", line 2, in <module>
    owm = pyowm.OWM("")
AttributeError: module 'pyowm' has

[2018-10-13 16:07] csparpa commented on #268
Hi @NikSudo sorry for the delay in answering you

I've tried your same code with your same Python interpreter and no signs of any bug on my side

Were you able to figure out what went wrong ?

[2018-10-16 20:45] #258 closed

[2018-10-19 14:17] lardconcepts opened #269 "Just wondering if geojson max version restriction is needed?"
I've got another library using geojson and it wants to update it, but I get a warning as follows:

`pyowm 2.9.0 has requirement geojson<2.4,>=2.3.0, but you'll have geojson 2.4.1 which is incompatible.`

Just wondering if this restriction is needed?

PS - thanks for this excellent library!

[2018-10-19 14:44] csparpa commented on #269
Hi @lardconcepts you're right: it's not
Instead of:

`geojson>=2.3.0,<2.4`

it should be

`geojson>=2.3.0,<3`

I'll look into it... for the moment please just uninstall PyOWM and install it again via git cloning the `master `branch, then patching the `requirements.txt` file yourself (as stated above) and then installing with `python setup.py install` from within the cloned folder

As usual, thanks

[2018-10-19 17:06] csparpa commented on #269
Fix completed on https://github.com/csparpa/pyowm/commit/8329135148ba7164734ad498b53cb05e245557bf

[2018-10-19 17:06] #269 closed

[2018-10-23 09:33] csparpa commented on #268
not an issue, closing

[2018-10-23 09:33] #268 closed

[2018-10-23 14:48] csparpa opened #270 "Implement Satellite imagery support [Agro]"
See https://agromonitoring.com/api/images for reference

[2018-10-25 17:34] csparpa commented on #193
Fixed with 084db0f67f6f18977f6fe62d136e593436a383a0

[2018-10-25 17:34] #193 closed

[2018-10-30 10:45] csparpa opened #271 "Fix dependency alert: Requests vulnerability"
https://github.com/csparpa/pyowm/network/alert/Pipfile.lock/requests/open

[2018-10-30 22:18] csparpa commented on #271
Fixed with 938807fc8165281c472cf12d267782e99378f2bc

[2018-10-30 22:18] #271 closed

[2018-10-31 16:08] #194 closed

[2018-11-05 18:04] csparpa opened #272 "Stations API: send measurements"
User Patrick Casbon reports errors when sending measurements to the Stations API:

[code]

The issue might be related to line:
https://github.com/csparpa/pyowm/blob/1b8632b4a7bfd74c0231d7954e813939c9d7c389/pyowm/stationsapi30/measurement.py#L199

This method is not dumping the Measurement object in the right way and therefore a wrong JSON is actually sent to the Openweathermap API

[2018-11-06 21:57] csparpa commented on #272
Hi @patcas this commit 632764a04f4741a1042ece75ad756d5634fc0ab2 should fix the issue.. please can you test it out?
Thanks

[2018-11-07 18:31] patcas commented on #272
Hi @csparpa very many thanks for that! I have tried to test but I'm afraid that my git expertise probably isn't good enough. What I did was:
`git clone https://github.com/csparpa/pyowm.git
cd pyowm
git checkout 632764a
sudo python3 setup.py install`

Then I ran my Python code from the Thonny IDE. But with no difference in the output -- even the code line numbers!
What have I done wrong? Any help g

[2018-11-07 21:02] csparpa commented on #272
What I would do then is avoid using the IDE (let's tear off one layer of complexity) and test patch from a "quick" command line script

As far as the installation is concerned, did you remove the previous `pyowm` installation before performing the setup actions you that reported? Just go with: `sudo pip uninstall pyowm` and then re-execute your commands

... or, alternatively, you can choose not t

[2018-11-08 19:18] csparpa opened #273 "Roadmap and implement remaning Agro API methods"
Have a look here https://agromonitoring.com/price and see what needs to be done.
Very likely, the old PyOWM methods will need to be adapted to work the polygon-based way

[2018-11-08 21:18] patcas commented on #272
Success! Very many thanks, indeed, @csparpa !
I hadn't removed the previous pyowm, so I did`sudo pip3 uninstall pyowm` and that appeared to work. But running my code produced the previous error. I looked in `/home/pi/.local/lib/python3.5/site-packages/pyowm` and there still seemed to be a lot of files in there.
Anyway, I copied my code into `/home/pi/pyowm` (the directory I had cloned the package

[2018-11-09 07:05] csparpa commented on #272
well done! thanks for testing it. and, by the way, I've added your GitHub handle to the CONTRIBUTORS.md file!

[2018-11-13 19:10] #272 closed

[2018-11-14 13:40] csparpa commented on #270
Steps:
  1. you POST a search for available imagery over a specified polygon
  2. you get back a list of available image products (with their URLs) organized in the following categories:
  "image", "tile", "stats", and "data":
    - image -> an image of a polygon in PNG format (presets: True color, False color, NDVI and EVI)
    - tile -> a tile in PNG format (presets: True color, False color, NDV

[2018-11-14 20:44] csparpa commented on #264
Done

[2018-11-14 20:44] #264 closed

[2018-11-16 10:59] csparpa commented on #270
## PyOWM high-level interface and entities

There is just one new entity here: `SatelliteImage` which `subclasses pyowm.commons.image.Image`
It features the following attributes:

[code]

[2018-11-20 21:47] #245 closed

[2018-11-26 07:48] csparpa commented on #246
Take a look here for sync/async library calls handling: https://hackernoon.com/controlling-python-async-creep-ec0a0f4b79ba

[2018-12-05 12:34] axodd commented on #98
This is a good idea, as both pyowm and OWM are awesome! Since Wunderground.com is shutting down all of its API access keys (except those of PWS owners) completely starting next month (i.e. after December 31, 2018), many folks will look for alternative web API solutions.
Re .deb, going Debian (rather than Ubuntu) route first is probably the best way to handle it. It ensures that your package will b

[2018-12-05 12:51] csparpa commented on #98
@axodd thanks a lot for your effort and reseach!

[2018-12-11 20:00] csparpa opened #274 "Implement NDVI history support [Agro]"
https://agromonitoring.com/api/history-ndvi

[2018-12-17 13:04] csparpa opened #275 "Upgrade urllib3 dependency"
As per security alert https://github.com/csparpa/pyowm/network/alert/Pipfile.lock/urllib3/open

[2018-12-17 21:33] csparpa commented on #270
Closed with 7c45c6b81f528e55eedfb612b89d516566277750

[2018-12-17 21:33] #270 closed

[2018-12-19 21:55] csparpa opened #276 "Investigate how to automate PyOWM Django models creation as part of CI pipeline"
As per title

This would allow to shut down repo: https://github.com/csparpa/django-pyowm

[2018-12-22 14:45] csparpa commented on #130
Fix with https://github.com/csparpa/pyowm/commit/7edd4691e496cedcb35bb2ed191ebab16c0e3fdc

[2018-12-22 14:45] #130 closed

[2018-12-24 11:35] csparpa opened #278 "Embed Google Analytics on PyOWM documentation"
https://docs.readthedocs.io/en/latest/guides/google-analytics.html

[2018-12-26 17:39] tigerfoot commented on #98
BTW pyowm is available for current (and next) openSUSE release.
The packaging is done here https://build.opensuse.org/package/show/devel:languages:python/python-pyowm
Version python2 and python3 are managed. It's being updated each time we found a new version on pypi

[2019-01-03 08:51] csparpa commented on #98
Thanks for notifying @tigerfoot !

[2019-01-03 22:08] csparpa commented on #278
Done

[2019-01-03 22:08] #278 closed

[2019-01-28 22:03] csparpa commented on #156
Fixed

[2019-01-28 22:03] #156 closed

[2019-01-30 19:04] csparpa opened #281 "Global feature manifest for PyOWM release 3"
https://github.com/csparpa/pyowm/wiki/PyOWM-version-3

[2019-02-07 17:22] Nickduino opened #284 "Sub-directory"
It's  probably be a pip issue (by "issue", I mean user error) rather than a pyown own but I don't get why the example file works in the /home/pi/ directory but not in /home/pi/Pi-Somfy:

![image](https://user-images.githubusercontent.com/9784237/52429790-0e85ee80-2b05-11e9-8ebf-5f274dcff308.png)

Can someone help?

[2019-02-07 17:38] Nickduino commented on #284
And in Python 3.5:

![image](https://user-images.githubusercontent.com/9784237/52431007-9ff66000-2b07-11e9-8768-8bf81edb1687.png)

[2019-02-07 20:03] Nickduino commented on #284
Never mind, solved it

[2019-02-07 20:03] #284 closed

[2019-02-07 21:48] csparpa commented on #284
:-D

[2019-02-07 22:34] Nickduino commented on #284
And thanks for the code, Claudio!

[2019-02-14 21:36] csparpa opened #285 "Possibility to have messages sent to a Logger"
`As a user I want PyOWM to write messages to a specific Logger object that I'm passing in. I want to be able to set the logger verbosity as well`

Add logger object and verbosity as configuration bits. If no logger is provided by the user, just use a custom internal one which prints on stdout

[2019-02-15 07:50] csparpa opened #286 "Drop support for Python versions < 3.7 and add support for Python 3.8"
Python 3.8 is on deadsnakes: https://github.com/deadsnakes/python3.8

[2019-04-09 14:13] geofbaum opened #287 "AgroMonitor API"
Not sure if it is a current issue with AgroMonitor or OpenWeatherMap in general but I keep on getting a time out error when trying to download satellite imagery as in the example in the docs.

https://pyowm.readthedocs.io/en/latest/usage-examples-v2/agro-api-usage-examples.html#operations-summary

It seems that I am capable of getting one image without the error though when I then go to get the st

[2019-04-09 16:57] csparpa commented on #287
Hi, please keep the issue up to date with the response from OWM helpdesk. thanks!

[2019-04-09 17:44] geofbaum commented on #287
@csparpa
Hi, I sent them a copy of my code using just the regular request code.  I haven't heard back from them as of yet.  However I can confirm that I am able to now download a .tiff or .png files from the API after parsing a regular request and extracting the embedded URL. The only difference is that I need to change my request to get each of the images as it

Range of Dates:
Start: 1546750800

[2019-04-10 16:52] geofbaum opened #288 "AgroMonitor API - Soil temp is not always a float"
From #245 soil temp reported back by the API may not always be a float which will cause an error to be thrown due to the asserts in the __init__ section of the soil.py file. One might also assume though, I have not tested it, that depending on the soil data source and polygon location that the value could also return a None. However, the issue here is mainly that the Soil Temp could be returned as

[2019-04-10 17:25] csparpa commented on #288
Fixed in real time :)
still need to push the commit....
thanks for pointing this out!

[2019-04-10 17:32] csparpa commented on #287
@geofbaum it would be far quicker for me if you shared the Python code of yours that performs the failing request... would you mind posting it here? thanks

[2019-04-10 18:17] geofbaum commented on #287
No problem worries, I'll attach the code below. Also just to add, the response from OWM was that they don't think it's an issue on their end as if I print out the urls for the images that pyowm would be requesting, I can download them just as I can download them from my request with just the requests lib.

The polygon I tested this with is the following one:
```polygon = GeoPolygon([[[-73.62634,45

[2019-04-10 18:18] geofbaum commented on #288
No problem, glad I could help!

[2019-04-11 19:39] csparpa commented on #287
@geofbaum thanks for the code, I've been able to debug it

Two issues here: one is related to the timeout, the other on to the blank downloaded files.

### Timeout
PyOWM has a configuration module with all the config values for it, including the timeout for HTTP requests. This is currently set to: 2 seconds. Which looks, honestly, a bit too small for downloading satellite images... Therefore I've

[2019-04-11 20:06] csparpa commented on #287
This is not really true, Claudio :)

@geofbaum
I've installed the [exiftools](https://sno.phy.queensu.ca/~phil/exiftool/) package on Linux and here is what it tells us for one the images that I've downloaded with PyOWM:

[code]

This means the img is not actually blank
Nevertheless I'm having a hard time opening it in GIMP or other image viewers...
I would like to try out with Quantum GIS or ArcGI

[2019-04-11 20:23] geofbaum commented on #287
The images are fine as I was able to open them in Paint, Windows Picture Viewer, and QGIS 3.6 and I changed the Timeout value to 5 and it seems to work now fine. However, I just tested it on my home laptop so it's not the same network or system I was working on the previous two days. I say that solely because I thought I had tested changing that yesterday and didn't get a difference. I will give i

[2019-04-11 20:23] #287 closed

[2019-04-12 13:21] geofbaum commented on #287
Just to confirm, after changing the timeout delay to 5 on the system the issue originated on I am able to acquire the images. Thank again!

[2019-04-17 08:15] #288 closed

[2019-04-23 14:18] csparpa opened #289 "Add __version__.py to main pyowm package"
Also make sure `setup.py` and that file do not duplicate values

Contents:

[code]

[2019-04-30 17:01] csparpa commented on #289
Fixed with 2ad9a23ea6e09e88cce5c426b4a171f9807eab74

[2019-04-30 17:01] #289 closed

[2019-05-03 21:54] csparpa commented on #286
Done

[2019-05-03 21:54] #286 closed

[2019-05-21 20:39] #248 closed

[2019-05-31 23:26] demix506 opened #290 "No module named 'pyown'"
Good evening. I have a problem. When I run the program, I get the error: "No module named 'pyown'" I reinstalled the python, and also removed all the plugins and reinstalled "pyown". Well, anyway there is an error, what to do?

[2019-06-01 02:55] geofbaum commented on #290
@demix506 just to make sure this isn't just a simple spelling problem, are you typing in pyowm or pyown as you've written above?

You should be using something such as the following that you see in the documents.

[code]

[2019-06-01 06:54] #290 closed

[2019-06-01 09:37] demix506 commented on #290
im fix

[2019-06-02 06:28] robinpaulson commented on #188
Would it be possible to expand this to km/h, beaufort and knots also? cheers

[2019-06-02 19:39] csparpa commented on #188
Yes @robinpaulson .

[2019-06-23 18:04] Patrick13vrn opened #291 "Error: city name must start with a letter"
Hi! Could you help me please.

When I try to retrieve a list of relevant cities using cyrillic symbols, I receive something like this:

[code]
`ValueError: Error: city name must start with a letter`

However, there are no any troubles with latin.

[2019-06-24 00:09] geofbaum commented on #291
The error points to Line 215 of the cityidregistry.py file and that specific section is the part of the code that's encoding the city name to be able to access the correct folder through the API. It only searches against latin letters a-z so it will automatically throw the error if the the name has anything other then that in it.

Oddly enough the following works as a direct api call.
http://api.o

[2019-07-11 10:09] csparpa commented on #42
[code]

[2019-07-24 11:52] romaKadeta opened #292 "no attribute 'OWM'"
What's wrong? At start of the code the error jumps out. I am writing using Thonny. I work on raspberry pi 3 b +. thonny error:
`Traceback (most recent call last):
  File "/home/pi/pyowm.py", line 1, in <module>
    import pyowm
  File "/usr/lib/python3/dist-packages/thonny/backend.py", line 305, in _custom_import
    module = self._original_import(*args, **kw)
  File "/home/pi/pyowm.py", line 3, i

[2019-07-24 23:44] geofbaum commented on #292
Just tested this on a linux comp, windows comp, and a raspberry pi 3 (not using thonny). The code runs fine. Not sure why it's not working but that top Thonny error makes it seem like it can't find the Pyowm package or it's not installed properly. Maybe @csparpa has a better clue but the issue is very likely not with Pyowm itself and definitely not with the code you used.

[2019-07-25 09:08] csparpa commented on #292
It is indeed a problem with imports - on the client code, not PyOWM

@romaKadeta from your code, can you import PyOWM at all? Try:

[code]

and

[code]

[2019-07-26 11:12] romaKadeta commented on #292
@csparpa  The code was written in the editor Mu, but there is another error. Code:

`from pyowm import OWM

owm = pyowm.OWM('194277e0479d5a36ebb28e1a81c18006')

observation = owm.weather_at_place('London,GB')
w = observation.get_weather()
print(w)`
Error: `Traceback (most recent call last):
  File "/home/pi/pyowm.py", line 1, in <module>
    from pyowm import OWM
  File "/home/pi/pyowm.py", line 1

[2019-07-26 12:17] csparpa commented on #292
@romaKadeta  In the error msg you've posted, I can read:

`ImportError: cannot import name 'OWM' from 'pyowm' (/home/pi/pyowm.py)`

It looks like you're running a script named `pyowm.py` of your own, which attempts to import the installed PyOWM library. So, the name of the script and of the library clash.

Try to rename your script to any other thing different than "pyowm.py" and check if it works

[2019-07-28 06:45] #292 closed

[2019-08-06 06:44] krisgesling commented on #180
In case anyone else is on the same hunt, it seems that as of March 2018 OWM have sunrise/sunset times "on their roadmap" for the 16 day forecast endpoint:
https://openweathermap.desk.com/customer/portal/questions/16786183-sunrise-and-sunset-times-for-forecasted-days

[2019-10-08 09:56] csparpa commented on #291
Hi @Patrick13vrn, sorry for the really late answer :-/

The direct call to the web API surely works because of the browser smart that @geofbaum mentioned, but in this case - behind the scenes - OWM is actually querying a real database, not a file.
PyOWM instead needs to query for city names on a file, which is taken from OWM ([here](http://bulk.openweathermap.org/sample/)) and embedded into the li

[2019-10-08 09:56] #291 closed

[2019-10-08 09:58] csparpa opened #293 "Add timezone attribute to Weather objects"
https://openweather.co.uk/blog/post/we-have-integrated-time-zones-our-weather-api-products

[2019-10-09 17:31] csparpa commented on #285
Not so useful indeed

[2019-10-09 17:31] #285 closed

[2019-10-21 01:30] oopsie1412 commented on #188
What are the conversion units for wind direction?

[2019-10-21 01:44] geofbaum commented on #188
@oopsie1412 What do you mean for conversion of the wind direction? It's already in degrees? If you're looking to convert the degrees into a cardinal direction here's a table with the degree breakdown.
http://snowfence.umn.edu/Components/winddirectionanddegreeswithouttable3.htm

Also remember if you do go that route that the direction in degrees is saying which direction the wind is coming from and

[2019-10-21 13:30] csparpa commented on #188
@oopsie1412 Please check https://github.com/csparpa/pyowm/blob/master/pyowm/utils/temputils.py
The only conversion currently implemented is metric-imperial back and forth.

User @robinpaulson proposed conversion also to/from "beaufort and knots" months ago... I am not an expert here, so if anybody can provides references to the math I can implement those conversions as well and pack them into vers

[2019-10-21 13:33] robinpaulson commented on #188
https://www.convertunits.com/type/speed
https://www.rmets.org/resource/beaufort-scale

[2019-10-21 15:30] csparpa commented on #233
Proxy to use for testing: https://pypi.org/project/PySocks/

[2019-10-24 05:34] #293 closed

[2019-10-24 15:52] csparpa commented on #265
Here is the timeline summarizing both **Pyhon 2.x** and **PyOWM 2.x** fate:

[code]

[2019-10-25 12:26] #265 closed

[2019-10-31 13:54] #281 closed

[2019-11-13 21:59] #233 closed

[2019-11-18 14:26] tikky commented on #292
I had similar issue. I am not sure what was causing the problem, but I've tried:
[code]

and then I've uninstalled packages via:
[code]
and then installed back again for Python3
`sudo pip3 install pyowm`

After that the same script works fine for me without error message.

[2019-11-20 20:43] EveryoneInOne opened #294 "Problem with Agro manager"
Hi i installed pyown by pip for python 2.7 and i have problem with agro.manger
my code =import pyowm
from pyowm import OWM
from time import time
from pyowm import constants

owm = pyowm.OWM('**********', version='2.5')

mgr = owm.agro_manager()
and error
Traceback (most recent call last):
  File "I:/mmine/FILE/ADd_in/Ra/Install/WET.py", line 8, in <module>
    mgr = owm.agro_manager()
AttributeErr

[2019-11-21 13:21] csparpa commented on #294
Hello @EveryoneInOne

I suppose you installed PyOWM version 2.9 using pip (can you confirm?).... Be aware that **in such a version, there is NO support for Agro API** - this has been added in version 2.10 which unfortunately is not supported on Python 2

This is a project governance decision that I've taken in order to foster Python 3 adoption, as on January 1st 2020 Python 2 will be discontinued.

[2019-11-24 21:38] #42 closed

[2019-11-29 17:30] csparpa commented on #188
Implemented with https://github.com/csparpa/pyowm/commit/04bd0f58a8b684e27e6603a7d1d5aa972c690d1a

[2019-11-29 17:30] #188 closed

[2020-01-06 22:59] jcrv2016 opened #295 "Sunrise and Sunset are returning a value of zero"
Sunrise and Sunset times are returning a value of zero, both in the get_sunset_time() and get_sunrise_time() and the JSON data pull.

[2020-01-07 08:26] csparpa commented on #295
Hi there.
Please be more specific and provide with your code, so that I can help debugging. thanks

[2020-01-08 21:31] xla99 opened #296 "UnicodeEncodeError errors related to a corrupted location name ?"
Hi there,
Everything was working fine for our weather forecast routine until we’ve started to get UnicodeEncodeError errors.
If you run the following piece of code to get forecast for Tolagnaro (or Fort Dauphin) in Madagascar it return the error.
I checked l.get_name() and it returns ‘Tôlanaro’ with the accent. I’m not sure that accent was there before.
I’m not a developer and I couldn’t fix that

[2020-01-09 16:45] csparpa commented on #296
Hello Alex

Sure it is!

Use the [three_hours_forecast_at_coords](https://github.com/csparpa/pyowm/blob/16edd44c97e4e154e3b3b77170e98cd6e8faa9ef/pyowm/weatherapi25/owm25.py#L575) function, it's what you're looking for.
Eg:

[code]

As you already use a city ID, your code can be further simplified this way by using the [three_hours_forecast_at_id](https://github.com/csparpa/pyowm/blob/16edd44c97e4e

[2020-01-09 16:45] #296 closed

[2020-01-09 17:49] xla99 commented on #296
Hi Claudio,
That's great, I'll use the three_hours_forecast_at_id function, thank's for the help.
Alex.

[2020-01-16 04:40] jcrv2016 commented on #295
Hi Claudio,

Thanks so much for this project, btw.

For concision, I won't post how I create the 'owm' object, but it just involves creating an object with my key.

[code]

This is the output:

{"heat_index": null, "visibility_distance": null, **"sunset_time": 0,** "detailed_st

[2020-01-19 15:40] csparpa commented on #295
Hi @jcrv2016, I've checked this out and it looks like the position of sunrise and sunset elements in the JSON of OWM API responses changed... I've put a fix on the new `2.10-LTS` branch supporting PyOWM until PyOWM version 3 will be out

Take a look [here](https://github.com/csparpa/pyowm/wiki/PyOWM-2-stream---Maintenance-plan) for details

In short, you just need to install from sources on that b

[2020-01-19 15:40] #295 closed

[2020-02-04 18:38] csparpa commented on #294
Closing this as no further action is required

[2020-02-04 18:38] #294 closed

[2020-02-15 21:34] rhl- opened #297 "api discards relevant time"
Hi,

I noticed that:

You appear to use this:
https://github.com/csparpa/pyowm/blob/a5d8733412168516f869c84600812e0046c209f9/pyowm/weatherapi25/parsers/observationparser.py#L66

as your "reference time".

However, it appears that the OpenWeatherMap API itself provides an epoch timestamp for when the data was recorded by them as the field `dt` in it's spec.

That `dt` timestamp is clearly more rele

[2020-02-18 18:40] csparpa commented on #297
Hello @rhl- I get your points, let me try to explain

Observation objects are a PyOWM abstraction - which builds upon the concepts of Location and Weather being provided by the OpenWeatherMap API. Basically:
[code]

here the `TIMESTAMP` refers to *when the weather data has been fetched from OWM by PyOWM*. Such a timestamp *may differ* from the one related to the embedded Weather object:

https://g

[2020-02-24 03:54] borninla commented on #211
Was having the same issue, and a simple uninstall/reinstall of python through Homebrew worked.

[2020-03-10 20:42] #297 closed

[2020-04-12 12:06] difelice opened #301 "Support One Call API"
## Overview
In the dusk of the popular [Dark Sky API](https://darksky.net/dev), it might be worth considering to add support for the One Call API, which is considered the alternative.
## Reference
### Migration guide
https://openweathermap.org/darksky-openweather?gclid=Cj0KCQjw-Mr0BRDyARIsAKEFbefcb00d_wztgHKOYj4HYEF1fLl-DnE0Yek9vWQ_bxptj2PcYLSNhDwaAu8REALw_wcB
### API docs
https://openweathermap.o

[2020-04-14 10:04] csparpa commented on #301
Thanks for pointing this out @difelice
I'm not sure I can keep up with coding that for the moment - would you help with it ?

[2020-04-14 13:12] difelice commented on #301
Sure. I'll have a look at it. Thanks.

[2020-04-19 16:44] edenhaus commented on #301
I can also help you. I'm also planning to add OneCall to Home Assistant after it is supported here.

I started to look about the schema of the daily part. The rest of the schema will follow the next days.
The most attributes are the same as from the daily api call. So we can use the Weather Object and extend it. Below the differences of both:

- _speed_ renamed to _wind_speed_
- _deg_ renamed to _

[2020-04-19 18:38] edenhaus opened #303 "Set use_ssl to True as default"
Ciao Claudio,

Nowadays the most traffic already is using https and I think we should activate it as default.
We are always sending our api key in our requests. What do you think?

Saluti dall'alto adige

[2020-04-19 18:58] edenhaus opened #304 "coveralls is not working on develop"
Ciao Claudio,

Since the commit 9adfae5941a8bda562def5710c9435614c93c726 the Coveralls is not anymore working and shows a coverage of 0%.

[2020-04-20 09:32] csparpa commented on #304
Ciao!

it looks like we're facing another instance of the "but how is that possible? it's working like a charm on my PC!" non-written principle of software engineering :)

Have you installed the deps specified in https://github.com/csparpa/pyowm/blob/develop/dev-requirements.txt ?

Can you pls post the output of a `tox `run ?

Thanks

[2020-04-20 09:39] csparpa commented on #303
Ciao,

it seems very reasonable to me :)

Would you please modify that flag in the default configuration and run all tests (unit + integration) just to make sure everything works?
In particular, I'd check that the HTTP client library (`requests`) works as expected

Thank you very much!

PS: I'm literally craving for a trekking session in Alto Adige - it's been 3 years since the last one!!

[2020-04-20 14:29] edenhaus commented on #304
I did not run it locally. I only check it online on the website: https://coveralls.io/github/csparpa/pyowm?branch=develop

[2020-04-21 14:52] difelice commented on #301
Hi @edenhaus , sorry for the late response.

I haven't started coding, just exploring current code base to have a rough idea and which of current ones can be used a starting point.

Please feel free to work on it if interested.

Thanks.

[2020-04-21 16:47] csparpa commented on #303
Fixed by #305

[2020-04-21 16:47] #303 closed

[2020-04-21 17:03] csparpa commented on #304
...and back to green! https://coveralls.io/builds/30228842
96% coverage, not that bad after all

[2020-04-21 17:03] #304 closed

[2020-04-23 21:14] edenhaus commented on #301
I'm already at a good point and it works already partly. I think until end of next week it will be finished. Hopefully the tests don't take to much time :P

[2020-04-24 13:32] valepe commented on #301
Is possible with the new api to have the daily min and max temperatures? Until now weather integration shows the max one only.

[2020-04-24 17:43] edenhaus commented on #301
All data with is returned by the oneCall can be found in the under [https://openweathermap.org/api/one-call-api](https://openweathermap.org/api/one-call-api)

[2020-04-24 17:56] edenhaus commented on #301
So the first version is done. I'm not quite happy with the tests, so if some one has an idea to test better, feel free to comment on the pull request or even better implement it directly :)

[2020-04-26 13:29] csparpa commented on #301
@difelice @valepe and anyone else interested: @edenhaus has provided an implementation. I encourage you to test it out, it's on the `develop` branch

[2020-04-26 17:01] edenhaus opened #307 "Add OneCall docu and add more tests"
See https://github.com/csparpa/pyowm/pull/306#issuecomment-619549255

@csparpa You can assign this issue to me. It is better to have an issue as to comment on a merged pull request. This week is already full with uni and work, but I think I can do it next week.

[2020-04-26 19:37] csparpa opened #308 "Increase unit test coverage even more"
Calling all developers!

Let's push PyOWM as much as possible towards 100% unit test coverage before publishing release v3

[2020-04-27 14:12] csparpa commented on #307
@edenhaus I've written tests for `weather_manager.one_call` and `weather_manager.once_call_history` functions

Up to you writing tests for the `OneCall` class then

[2020-04-28 17:07] edenhaus commented on #307
@csparpa nice :) I have already written some basic unit tests in the original PR. As OneCall uses the weather class, I think this enough tests for the moment. So I will concentrate on the docs next week

[2020-04-28 17:55] csparpa commented on #307
There is no release date but I would love to release v3 as soon as possible so that people can start using the OneCall feature as a swap-in replacement for the dead DarkSky API

No need to hurry!

[2020-04-28 18:19] edenhaus commented on #307
Nice. I will then include the new version into home assistant as I will use oneCall to get the forecast for my smart irrigation

[2020-04-29 18:01] csparpa opened #309 "United States cities should be searchable on City ID Registry via their actual US state"
Currently, US cities can be searched on City ID Registry by specifying country="US"

It would be way more interesting to use - instead of a generic "US" - the proper US state of the city (es. CA for Los Angeles)

[2020-04-29 18:01] csparpa commented on #309
Fixed with https://github.com/csparpa/pyowm/commit/0d42768f2c7507a220921e3b0e27d0795841c2f2

[2020-04-29 18:01] #309 closed

[2020-05-06 16:37] #307 closed

[2020-05-14 15:21] #308 closed

[2020-05-14 15:37] #301 closed

[2020-05-21 13:45] Dnatalyaalex commented on #133
Hello
I face the issue too, but I have the newest version of the library.
Can  you please help to deal with it.

[2020-05-21 19:57] csparpa commented on #133
@Dnatalyaalex I've just tested it, it's working.
Probably the OWM API was unstable/crashed at the moment you've run your code
Can you try again pls ?

[2020-05-22 09:14] Dnatalyaalex commented on #133
May be you can help me...
When I run this job on my laptop, it works, but when I use Rundeck, it doesn't work.
I noticed Rundeck uses python 2.7 though I can run python3 by terminal.

May an error arise due to an incorrect version of Python and can I somehow indicate in the script which version I should use for this script? I have many jobs on rundeck and I'm afraid they will fall down after updat

[2020-05-22 09:17] Dnatalyaalex commented on #133
Could an error occur due to the wrong version of Python, and can I somehow indicate in the script which version it should use for this script? I have a lot of jobs on rundeck and I'm afraid that they will fall down after upgrading Pyton to 3.7 version. I installed urlib for python3.

Sorry for the primitive questions, I'm new to Python.

[2020-05-22 09:20] Dnatalyaalex commented on #133
Maybe you can help me...
When I run script on my laptop it works, but when I use rundeck, it doesn't work.
I noticed Rundeck uses Python 2.7 though I can run python 3.7 usin terminal.
Could an error occur due to the wrong version of Python, and can I somehow indicate in the script which version it should use for this script? I have a lot of jobs on rundeck and I'm afraid that they will fall down a

[2020-05-22 11:59] csparpa commented on #133
Pls post here the full error trace (the one you see printend in your logs or on-screen), so I can understand what happens

Also pls specify the version of PyOWM that you're currently usign (eg with

    pip show pyowm

Have you tried calling any other PyOWM function (eg. retrieve observed or forecast weather) ? Do you get errors? Or is it only with `is_API_online` function?

[2020-05-22 12:19] Dnatalyaalex commented on #133
Oh God
I'm very sorry, I did not notice that this is a question on a specific function.
I though just about urllib.error.
Sorry that I spent your time

Anyway I post the trace, maybe somebody can help me

Traceback (most recent call last):
--
15:00:11 |   |   | File "/tmp/18444-76852-rundeck.dev-pro.net-dispatch-script.tmp.sh", line 26, in <module>
15:00:11 |   |   | project = server.projects['ith

[2020-05-22 12:40] csparpa commented on #133
Then sorry, but I don't understand what role PyOWM plays into this issue :-S

Your error log only tells me that you get a 500 error from the server, which is then not handled by urllib

[2020-05-31 12:27] filiptronicek opened #313 "AttributeError: 'OWM' object has no attribute 'weather_at_place'`"
GitHub actions returned this error code, after hundreds of successful runs.
`Run python main.py
Traceback (most recent call last):
  File "main.py", line 68, in <module>
    csvArrIn = getWeatherInfo(city)
  File "main.py", line 35, in getWeatherInfo
    obs = owm.weather_at_place(city+',CZ')
AttributeError: 'OWM' object has no attribute 'weather_at_place'`

[2020-05-31 12:52] geofbaum commented on #313
@filiptronicek

From the short part of code that is visible in the error message it appears that you're missing a step to call 'weather_at_place' as it looks like you're trying to directly call it from owm.

Per the docs and altered to show your code usage the steps to call that attribute require calling weather_manager() before:

[code]

[2020-05-31 13:17] filiptronicek commented on #313
This is my function from my code:
[code]

[2020-05-31 13:18] filiptronicek commented on #313
I will try to use the `weather_manager`, but is this a new feature? It worked yesterday just fine.

[2020-05-31 14:18] geofbaum commented on #313
Yes your code would have worked with the previous release of pyowm. And yes the weather_manager is a new feature in that it is the new way to call this now with the 3.0 Release of pyowm. It was released within the last 24hrs so if you're code in your github actions flow was just referencing the code here, that's now changed. You might want to just take a look at your code if you're referencing pyo

[2020-05-31 17:20] csparpa commented on #313
Hey @filiptronicek as per announcements and relative documentation PyOWM v3 is a major release and as such does not offer retrocompatibility with v2 library interface. yes, hopefully it will only take a few touches to your code to get everything sorted out

[2020-05-31 17:24] csparpa commented on #313
By the way, lesson learned: never have your code depend upon libraries *without* checking that newer releases don't break it. this is easy done eg. with pip by ensuring that the next major release is never hit

[2020-05-31 17:34] filiptronicek commented on #313
@csparpa thanks for the advice. Makes sense.

[2020-05-31 17:36] filiptronicek commented on #313
@geofbaum is this code correct? Throws an error still
[code]

[2020-05-31 17:45] csparpa commented on #313
Nope

replace "get_weather()" with "weather"

Java-style getters have been removed in pyowm v3

Claudio Sparpaglione
csparpa@gmail.com
http://linkedin.com/in/claudiosparpaglione

On Sun, May 31, 2020, 19:36 Filip Troníček <notifications@github.com> wrote:

[2020-05-31 18:09] filiptronicek commented on #313
![image](https://user-images.githubusercontent.com/29888641/83359438-8ae7b500-a37a-11ea-9eb1-a05154db99b3.png)
Doesn't seem that it works.

[2020-05-31 18:31] csparpa commented on #313
Remove the () as it's a property, not a function

Claudio Sparpaglione
csparpa@gmail.com
http://linkedin.com/in/claudiosparpaglione

On Sun, May 31, 2020, 20:09 Filip Troníček <notifications@github.com> wrote:

[2020-05-31 18:49] filiptronicek commented on #313
Thanks, everything working again!

[2020-05-31 18:49] #313 closed

[2020-06-01 09:36] grrodre opened #314 "One Call History"
May I be wrong or not properly using it. But it seems that when using _one_call_history_ the returned dictionary use also _forecast_hourly_ key whereas the documentation gives hourly. That's a little confusing if it is really an historical data or a forecasted data.

`one_call = mgr.one_call_history(lat=52.52, lon=13.40)

one_call.forecast_hourly
`

https://github.com/csparpa/pyowm/blob/53370082a8

[2020-06-02 21:29] LkiZt opened #315 "AttributeError: "OWM" object has no attribute"
Start code in cmd and always have an AttributeError: "OWM" object has no attribute
pip install pyown was successful
Code:
import pyowm

owm = pyowm.OWM("*My API*")

place = input(" ")

observation = owm.weather_at_place(place)
w = observation.weather
print(w)

![image](https://user-images.githubusercontent.com/66335920/83571908-536f3900-a531-11ea-8f80-2d6c36bb37a0.png)

[2020-06-03 07:52] csparpa commented on #315
Hi @LkiZt this happens because now PyOWM is at version 3  and your code thinks it is version 2.x
PyOWM 3 is a **major release** - therefore breaking compatibility with v2 client programs

The patch is easy: instead of

[code]

just:

[code]

Let me know if this works for you

[2020-06-03 17:21] csparpa commented on #314
Hi @grrodre I agree with you, but that's exactly how the OWM One Call API works

It might be easier to think of One Call objects such as "photograhps" of observed+forecasted weather data, taken at a specific timestamp. So if you query for a photograph taken in the past, that photo carries forecasts that *might* still refer to the past, depending how deeply you go back in time when querying the pho

[2020-06-04 05:50] LkiZt commented on #315
Hi @csparpa that works. Thank you

[2020-06-04 05:50] #315 closed

[2020-06-04 08:53] grrodre commented on #314
Hello @csparpa and thank you for your detailed response.

Your explanation make sense, however I think i expressed myself wrong. I meant the One Call API documentation and specific the https://openweathermap.org/api/one-call-api#history history one.
The key here is _hourly_ whereas in pyowm is _forecast_hourly_. That lead me to confusion.

Regards.

[2020-06-04 17:36] EightFawn opened #316 "The API worhs for weather_at_place() but not for forecast_at_place()"
The API works with:

[code]

But if I use:

`daily_forecast = mgr.forecast_at_place('Roma', 'daily').forecast`

It give me this error:

[code]

With only the weather_at_place() code it works but if I add at the same program the forecast_at_place() it gives me this error.

[2020-06-05 09:03] csparpa commented on #314
I see your point

IMO PyOWM uses a name ("forecast_hourly") that explains better the meaning of the data with respect to the one used by the JSON in the One Call API (they use "hourly"). So that would possibly be good - at least, improving the lack of semantics in the One Call API

Anyway, is it now clear what the forecasted data in OneCall objects mean ?

[2020-06-07 14:46] csparpa commented on #316
@EightFawn still not working?

I've tried your exact code and it works on my side
Might have been a temporary flicker of the OWM API

Please let me know!

[2020-06-07 22:01] craigmaloney opened #317 "pyowm 3.x is not available for Python 3.6"
I have a situation where Python 3.6 is the version that I'm using, but it seems that PyOWM 3.x is only available for Python 3.7 and higher.

Would it be possible to support Python 3.6?

[2020-06-08 12:32] Karan-Ghatt commented on #316
Hi, I seem to be facing a similar issues, I'm trying to run the following code:

[code]

I keep hitting the same error:
[code]
I am using a valid key, so I'm not too sure whats going on. Any insight would be great!

[2020-06-08 12:40] csparpa commented on #316
Could you pls paste here the output of a print of your `OWM` object instance?
That is to say:

[code]

thanks

[2020-06-08 12:48] csparpa commented on #317
Hi, PyOWM support for Python 3.7+ was decided by-design

Anyway, fear not! I am pretty sure that PyOWM runs smoothly on Python 3.5 and 3.6, as no version-dependent language construct is actually used (anyway I might be wrong, will check it out)

You can give it a try - but you won't be able to install PyOWM via `pip`, what you need to do is:

1. clone the repo with Git:  `git clone https://github.

[2020-06-08 12:53] craigmaloney commented on #317
I opted for using PyOWM 2.x as it was simpler for me to get started, once I realized that all of the examples were written for PyOWM 3.x. It was frustrating, which is why I was hoping others might not have to go through this pain.

[2020-06-08 12:58] csparpa commented on #317
Please, no! :-( NEVER opt in for a dead technology!!!

Would you help me with testing the above solution? I will test it on Py35 and Py36 on my side as well and if no issues arise then support could be extended to those versions

[2020-06-08 13:16] craigmaloney commented on #317
You left me no choice but to opt for dead technology.

I'll be happy to test with a beta release, but at the moment I don't have the bandwidth to rewrite the code that I created. I'll try it later on.

[2020-06-08 15:16] EightFawn commented on #316
It gives me the same error, the output of the print of owm is:

`<pyowm.owm.OWM - API key=************************b81f5079, subscription type=free, PyOWM version=(3, 0, 0)>`

[2020-06-08 16:41] csparpa commented on #316
IoI looks like there is no reason why it shouldn't work!

Short of ideas..
Have you tried creating a new free API key and use that one instead?

[2020-06-08 16:43] csparpa commented on #317
OK, I'm sorry about that
Let me know if you come up with anything - I'll do the same gig on my side

[2020-06-08 16:50] EightFawn commented on #316
I create a new API key but I have to wait that openweathermap verify the key

[2020-06-08 17:38] EightFawn commented on #316
It gives the same error...

[2020-06-08 21:36] EightFawn commented on #316
I tried to remove the part of the weather and leave only forecast but it still not working

[2020-06-09 06:43] csparpa commented on #316
@EightFawn I've tested your exact code again on my side and it works like a charm

Now, I think here the issue is not with PyOWM but with the API key itself
In your very first code snippet you said that querying for observed weather worked but querying for daily forecasted weather didn't: both queries were working fine on my side.

**So here my conjecture is: as my free API key was issued years ag

[2020-06-09 13:06] EightFawn commented on #316
Ok I try thanks

[2020-06-11 21:42] EightFawn commented on #316
It gives me an error when I try to find the geographic coordinates by the name, I used the same instructions of the wiki , the error is:

`city = list_of_locations[0][0]`
`TypeError: 'Location' object is not subscriptable`

[2020-06-13 15:44] EightFawn commented on #316
I have to open another issue for this?

[2020-06-13 16:25] csparpa commented on #316
No, I'll check this out
thanks

[2020-06-13 18:14] geofbaum commented on #316
@EightFawn try the following to see if you get valid lat and lon values.

[code]
@csparpa  It appears that the example in the docs has an extra [0]:

[code]
As in **moscow = list_of_locations[0][0]** should be **moscow = list_of_locations[0]**. Either that or the code is returning something that isn't expected from the Locations class.

[2020-06-13 21:08] EightFawn commented on #316
Yes, now it works, thanks

[2020-06-13 21:15] csparpa commented on #316
Ok, I'll patch the docs then

[2020-06-13 22:12] idcrook opened #318 "v3/develop "clean" setup install always fails with geojson ModuleNotFoundError issue"
When trying to add pyowm (@develop) as a dependency package in `setup.py` or pip-installing standalone into a virtualenv, am always getting an error about missing dependency

[code]

As you can see, I explicitly had `geojson` listed as an `install_requires` dependency to attempt to workaround, but this did not work.

## workaround

Pre-Installing the `geojson` package into the virtualenv (or with

[2020-06-13 22:32] idcrook commented on #318
Is it possible that `setup.py` would additionally need `setup_requires=['geojson']` (or equivalent) for it to work "out of the box"?

[2020-06-18 18:54] #316 closed

[2020-06-19 18:18] eumiro opened #319 "Which time zone is pyowm living in?"
[code]
on a host set to the `Europe/Berlin` time zone (UTC+2) returns `'2020-06-19 19:45:30+00'` at 19:45 of the local time (17:45 UTC), which is 2 hours off.

In the `.now` method it takes `datetime.datetime.now()`, which is a tz-naive current time in the time zone of the host (e.g. `Europe/Berlin`) but without this information. Then it formats it using `.strftime('%Y-%m-%d %H:%M:%S+00')` to a st

[2020-06-20 06:10] csparpa commented on #319
Hi @eumiro ! of course, please feel free to contribute :) thanks!

[2020-06-20 18:28] eumiro commented on #319
Hope the changes in #321 are okay.

In `pyowm/utils/timestamps.py` there's a lot of usage of `date` local variable that covers the imported `date` module, but I didn't want to introduce breaking changes. Maybe the `datetime.date` could be imported as another alias.

[2020-06-22 15:14] csparpa commented on #319
Thanks @eumiro ! it's on the `develop` branch, will be released soon

[2020-06-22 15:14] #319 closed

[2020-06-22 15:30] csparpa commented on #318
Hi @idcrook, all dependencies - including geojson - are stated in setup.py https://github.com/csparpa/pyowm/blob/e35446ebe081c0b14a25dca0f7f8105836745b04/setup.py#L18  therefore you should not run any pre-install command.

You've probably  edited the logs you pasted here as I can't see the original install command

I've tried to reproduce the issue on my host with but I cannot, it's working fine.

[2020-06-22 15:32] csparpa commented on #262
already live

[2020-06-22 15:32] #262 closed

[2020-06-22 16:10] idcrook commented on #318
yeah, the "..." was meant to show truncation. I intended to show even if geojson dependency was specified and installed "earlier" the error still appears.

I saw that `geojson` is in setup. I think the error might arise at the nested setup of `pyowm` itself; the depended-upon module is not yet available to the `pyowm/setup.py`?

This is reproducible on "clean" Raspbian Buster on "bare metal". I've

[2020-06-24 13:31] jwmelvin opened #322 "One Call: add exclude and possibly units parameters"
The [One Call API](https://openweathermap.org/api/one-call-api#data) allows for an 'exclude' parameter to streamline responses. It would be great if pyowm allowed this too.

Similarly, the API allows for a ['units' parameter](https://openweathermap.org/api/one-call-api#other). It might be more convenient for users to receive data in the desired format, but I don't know if that would interfere with

[2020-06-24 19:02] csparpa commented on #322
nice features! would you like helping me with the implementation?

[2020-06-24 22:05] Harmon758 opened #324 "Two types of weather condition icons"
https://openweathermap.org/weather-conditions shows two different types of icons, with the base URI being different: http://openweathermap.org/img/wn/ vs http://openweathermap.org/img/w/. PyOWM uses the latter right now:
https://github.com/csparpa/pyowm/blob/e35446ebe081c0b14a25dca0f7f8105836745b04/pyowm/weatherapi25/uris.py#L18 Is there a documented reason for there being two different types? And

[2020-06-24 22:13] Harmon758 opened #325 "Units for pressure and visibility"
Similar to #188, would it be possible to add options to select units for pressure and visibility?
Currently pressure is in hPa (vs inHg) and visibility is in m (vs km or mi).

[2020-06-25 09:15] csparpa commented on #314
@grrodre I assume this is OK. In case, pls open the issue again

[2020-06-25 09:15] #314 closed

[2020-06-25 11:08] grrodre commented on #314
Ciao @csparpa . Thank for your message and sorry not to reply before.
I ended up using directly the api from openweathermaps.

Regargs.

[2020-06-25 11:39] jwmelvin commented on #322
It's not that I am unwilling to help, but I'm not there yet. I have the project forked and cloned to my linux machine. I haven't yet figured out how to get python to use that working version so I can blunder through the necessary changes...

[2020-06-25 12:20] csparpa commented on #322
You're almost there! You could Install - say - python 3.8 with your Linux package manager

What's your Linux distro? eg Ubuntu and Debian derivatives you can use:

    apt-get install python3.X

in Fedor you can use `rpm`

Once installed Python, you're set to go!

[2020-06-25 12:21] jwmelvin commented on #322
Oh, I have python 3.8 installed and working with the pyowm that pip installs. I just haven't sorted out how to get python to use the version in a local directory tree.

[2020-06-25 12:27] csparpa commented on #322
Mmmm better to remove PyOWM at a global system level:

    pip uninstall pyowm

Once removed, you're guaranteed the only PyOWM that can be can run on your machine is the one you've cloned from GitHub

Move inside your clone folder, open a Python prompt and `import pyowm`: you're running the local Python code, which now you are free to edit.

Just pls remember to work-commit-push on the develop bra

[2020-06-25 17:00] jwmelvin commented on #322
Thanks for the help. I have made the proposed changes, which seem to work in all use cases, and submitted a pull request to the develop branch.

[2020-07-02 13:55] originalsurfmex opened #327 "Documentation: need clarification on getting temperature from a forecast object"
I'm having trouble getting the temperature from a forecast object.  Specifically, I'm using `forecast_at_place`

Is this possible in PyOWM 3 or should I be combining this with other parts of the API?

[2020-07-03 14:35] csparpa commented on #327
Hi @originalsurfmex of course it is possible!
Take the code [here](https://pyowm.readthedocs.io/en/latest/v3/code-recipes.html#get-forecast-on-a-location): let me paste it here for you,

[code]

The `daily_forecast` object basically contains a list of `Weather` objects, on for each of the next days in this case

So you should simply iterate over them this way, and for each one extract the embedded

[2020-07-03 16:37] originalsurfmex commented on #327
Got it! I wasn't adding the unit so it was coming in blank.  Thanks!

[2020-07-03 16:37] #327 closed

[2020-07-11 07:27] Saurav-Navdhare opened #328 "AttributeError: 'OWM25' object has no attribute 'weather_manager'"
This is my error:
`Traceback (most recent call last):
  File "project.py", line 6, in <module>
    mgr = owm.weather_manager()
AttributeError: 'OWM25' object has no attribute 'weather_manager'`

My code:
[code]

I was reading the example from next.tech and the same code works there.

[2020-07-11 19:04] csparpa commented on #328
Hi what is your pypwm version?

[2020-07-12 05:42] Saurav-Navdhare commented on #328
I have 2.10.0

[2020-07-12 07:58] csparpa commented on #328
Ok so: the documentation you've read refers to PyOWM version 3.

PyOWM v2 is old stuff and you should not use it anymore.

So you need to update:

    pip3 install --upgrade pyowm

As stated in the project docs, this might BREAK YOUR EXISTING CODE : please refer to the migration guide in the docs!

[2020-07-12 09:49] Saurav-Navdhare commented on #328
This shows up when running upgrade with `pip, pip3, python -m pip`

[code]

[2020-07-12 10:06] csparpa commented on #328
I would suggest you completely wipe out PyOWM (eg. with `pip3 uninstall pyowm`) and then reinstall the proper v3 version with:

    pip3 install pyowm==3.0.0

[2020-07-12 10:06] #328 closed

[2020-07-13 10:51] Saurav-Navdhare commented on #328
Man, I wiped out pyowm, and even python. pip still installs 2.10.x while, the exact same command works on termux perfectly.

[2020-07-13 10:56] csparpa commented on #328
I think it's because you have a Python 2 environment, therefore the pip coming with that environment can only install PyOWM up to 2.10 because that is the latest release supporting Python 2.

So make sure you use Python **3** instead!

[2020-07-20 03:40] will3dev opened #329 "weather_manager"
Hello,

I am getting the below error when trying to call `owm.weather_manager() `using the code described in the quick start.

AttributeError: 'OWM25' object has no attribute 'weather_manager'

Below is the code being used. Other functions from OWM seem to be working.

[code]

[2020-07-20 06:44] csparpa commented on #329
Hi
The documentation refers to PyOWM v3
I guess you are using PyOWM v2 instead, right?
If so, pls make sure you install PyOWM v3 which requires python 3.6+

[2020-07-20 06:44] #329 closed

[2020-07-25 13:33] csparpa commented on #324
@Harmon758 I'm sorry, I've not been able to work on this for a while.

I do agree with you, the `/wn` icon set looks cleaner. I will replace the new URL into PyOWM

[2020-07-25 15:50] Harmon758 commented on #324
No problem. Let me know if you'd like me to PR it.
If it's just a replacement, I think it'd just be a simple one line change.

[2020-07-26 07:19] csparpa commented on #324
fixed, in the works for 3.1

[2020-07-26 07:19] #324 closed

[2020-07-26 07:27] neiry opened #331 "AttributeError: 'OWM25' object has no attribute 'weather_manager'"
mgr = owm.weather_manager()
AttributeError: 'OWM25' object has no attribute 'weather_manager'
error (((( pls help

[2020-07-26 07:47] csparpa commented on #331
@neiry Pls run one of these:
[code]

and report your PyOWM version
This is very likely due to your PyOWM version not being 3.x
Are you using Python 2 ?

[2020-07-26 12:50] neiry commented on #331
py 3-x
OWM 3/0

[2020-07-26 14:03] neiry commented on #331
sorry Successfully installed pyowm-2.9.0

[2020-07-27 07:27] csparpa commented on #331
As I said, you are using a legacy version (2.9) of PyOWM
That version is no longer maintained and the documentation on readthedocs refers to the official (3.x) PyOWM stream

**My advice is to update to Python3 and then to update PyOWM to v3**

If you are forced by any reason to keep Python2 and PyOWM 2.9 then [at this link](https://github.com/csparpa/pyowm/tree/efabe6abb6a4f32f4498a7ca5343563c804f

[2020-07-27 07:27] #331 closed

[2020-07-27 15:15] nishant842 opened #332 "PyOwm always returns API Key Is Invalid for 'startup' subscription"
When I initialize the library with the following, it fails

config_dict = get_default_config_for_subscription_type('startup')
owm = OWM('your-paid-api-key', config_dict)

If I change the subdomain from pro to api with the following, it works:

config_dict["subscription_type"].subdomain = "api"

[2020-07-28 06:39] csparpa commented on #332
@nishant842 thanks for reporting

Can you tell what method you called on the `owm` object and returned the error ?

[2020-07-28 06:45] csparpa commented on #332
It looks like the folks at OWM changed how the paid subscription API calls work: they once used to have different subdomains for different pricing tiers, now they all use the same subdomain (`api.`) and discriminate calls based on the API key. Which is - IMO - better :-)

Will fix it!

[2020-08-18 16:04] driesvanspauwen opened #333 "observation.weather.wind not working as described"
**Problem**
According to the guide on the pyowm github page following command:
`observation.weather.wind`
should return something like:
`{'speed': 4.6, 'deg': 330}`
from which people are able to retract the wind speed and degree using
`observation.weather.wind['speed']`

Now when I use the .wind command and print it, it returns:
`<bound method Weather.wind of <pyowm.weatherapi25.weather.Weather -

[2020-08-18 16:47] csparpa commented on #333
Hi @driesvanspauwen the answer is easy: you're calling something like this:

    observation.wind["speed"]

but instead should call:

    observation.wind()["speed"]

As you can see here: https://github.com/csparpa/pyowm/blob/e35446ebe081c0b14a25dca0f7f8105836745b04/pyowm/weatherapi25/weather.py#L166 you retrieve wind data from the weather object by using a *function* , not by accessing a property

[2020-08-18 16:47] #333 closed

[2020-09-05 12:45] onkelbeh opened #334 "pinned and limited PySocks==1.7.1,<2 ???"
setup.py:
[code]
makes no sense.
In general, versions should be pinned only with a reason.
Thanks a lot.

[2020-09-11 06:56] Darumin opened #335 "state/country mismatch for toponyms generated by locations_for method"
Not sure if this is something that needs attention:

`locations_for()` method in CityIdRegistry returns a list of Location objects with toponyms.

However, it isn't always a "city, country" stored in Location object. For every US state, it returns the state instead of the country.

Similarly, this doesn't seem to match `weather_at_place()` under weather manager. If you try using this method with a

[2020-09-12 05:29] Twoody opened #336 "Docs pages need updated"
See:
https://pyowm.readthedocs.io/en/latest/v3/air-pollution-api-usage-examples.html#querying-co-index

The code reads:
[code]
, but it should read:
[code]

I'm unsure if other instances of this exist, but feel like something similar to the `weather` in the cookbook would be a good idea to show that an `airpollution` class exists, too.

EDIT:
Another piece of code that doesn't work, but is referen

[2020-09-12 05:31] Twoody commented on #336
To further this, a comment explaining `lat` and `lon` are needed as floats, would be nice too. Geopy returns the latitude and longitude via strings when calling raw, so I suspect most people will just enter those.

[2020-09-12 05:32] Twoody commented on #336
If I can get pointed to the docs, I would be happy to put in some PRs.

[2020-09-12 08:03] csparpa commented on #336
Hi @Twoody thanks a lot for pointing this out. Yes, the docs are still in "transition" mode as I've basically not touched much of the v2 codebase when working on v3 but forgot to update docs in many parts, therefore your effort is super-precious! you can find the docs in this folder, feel free to update any typos/errors you might encounter:  https://www.github.com/csparpa/pyowm/tree/master/sphinx%

[2020-09-12 08:24] Darumin commented on #335
I discovered that this is the nature of the OpenWeather API, not necessarily a bug. Lookups with the format "city name, US state, country" do work here, but "city name, US state" alone will not work.

[2020-09-12 08:24] #335 closed

[2020-09-12 11:47] csparpa commented on #335
@Darumin well done! thanks for investing in this

[2020-09-16 06:23] Wesley-Vos commented on #324
Thanks for replacing the URL, I just started working on a PR for this. With the new set of icons, it is also possible to define the size of it (2x or 4x). Can you maybe add this size to the weather_function_url() function as an argument with default 2x? The size is specified in the URL as "@2x.png" or "@4x.png" near the icon name.

[2020-09-16 11:43] csparpa commented on #324
Hi! yes please, put the size in as a parameter to the function call with a default (maybe the most commonly used size?) thanks!

[2020-09-16 12:46] Wesley-Vos commented on #324
Hi! I've created a PR. I've set the default size to be the same size as the 'old' icons. 2x and 4x are as an option also included.

[2020-09-17 11:02] anebz commented on #313
@csparpa what is the v2 equivalent of weather_manager? I'm trying to deploy a code to [Scrapinghub](https://www.scrapinghub.com/scrapy-cloud/) but I have to use an older version of it and when I try to deploy it, I get this error:

[code]

[2020-09-17 11:04] csparpa commented on #313
Hi,

all weather_manager functions in v2 must be invoked on the OWM object
instance directly...

Claudio Sparpaglione
csparpa@gmail.com
http://linkedin.com/in/claudiosparpaglione

On Thu, Sep 17, 2020, 13:02 Ane <notifications@github.com> wrote:

[2020-09-17 11:12] anebz commented on #313
I don't follow, how does it change from the v3 version of my code?

[code]

Do you mean this?

[code]

[2020-09-17 11:27] csparpa commented on #313
Exactly!

Anyway, you can find the v2 docs here:  https://github.com/csparpa/pyowm/blob/2.10-LTS/sphinx/usage-examples-v2/weather-api-usage-examples.md#getting-currently-observed-weather-for-a-specific-location

Hope this helps

[2020-09-23 07:14] Misiu opened #339 "Add list of supported languages"
Currently, in Home Assisnatt the list of supported languages is added to Home Assistant, but as [suggested by one of the contributors](https://github.com/home-assistant/core/pull/40448#pullrequestreview-493903276), ideally it should be added to your package.
My [recent PR](https://github.com/home-assistant/core/pull/40448) is adding the whole list of languages from OWM website.

Consider adding th

[2020-09-23 08:36] csparpa commented on #339
Thanks, will do.
I will try to use standard ISO labelling for supported languages

[2020-09-23 08:54] Misiu commented on #339
Thanks, looking forward to that!
The list of supported languages is here: https://openweathermap.org/forecast5#multi
In my PR I've added the following list:

[code]

[2020-09-23 16:17] csparpa commented on #339
Ok @Misiu , it's in.

Commit eb1f943e804e1a056a49e95a35744eca80b0e1ae on branch `develop`

As easy as:

[code]

[code]

[2020-09-23 16:17] #339 closed

[2020-09-23 16:20] csparpa commented on #334
Hi @onkelbeh

version had been pinned to avoid major version updates on dependencies breaking PyOWM

Is there something I am missing here? Extra-zeal on my side?

[2020-09-23 16:42] csparpa commented on #325
Fixed with #338

[2020-09-23 16:42] #325 closed

[2020-09-23 17:28] Misiu commented on #339
@csparpa that was quick 😃
can I use that const without creating an OWM instance?
I need to get a list of supported languages before I create owm.
Sorry for a newbie question but I'm new to Pyhon.

[2020-09-23 18:20] csparpa commented on #339
Yes you can, the constant is in module

https://github.com/csparpa/pyowm/blob/develop/pyowm/constants.py

Just import that with:

[code]

Claudio Sparpaglione
csparpa@gmail.com
http://linkedin.com/in/claudiosparpaglione

On Wed, Sep 23, 2020, 19:28 Tomasz <notifications@github.com> wrote:

[2020-09-24 08:25] Misiu commented on #339
@csparpa thank you 👍
now let's wait for 3.1 to get released.

[2020-09-27 12:02] onkelbeh commented on #334
Yep, you already pin 'PySocks==1.7.1' so the second constraint '<2' is already fulfilled.

Found this during compile and constraints tests for [Home Assistant Gentoo Overlay](https://github.com/onkelbeh/HomeAssistantRepository).
Hope you don't mind I added your component to it.

[2020-09-29 14:24] EmielSchmeink opened #340 "OneCall minutely support"
We would like minutely data for a forecast for a project, and it seems like it has already been implemented in develop, but what is the ETA for this to be released? Thanks in advance.

[2020-09-29 14:34] Tobiaqs opened #341 "Installing with pip using Git URL fails"
When running `pip install git+https://github.com/csparpa/pyowm.git@develop` (master fails too) in a fresh virtualenv with Python 3.8.5 and pip 20.1.1, I get the following error:

[code]
When I install pyowm's requirements.txt (from the root directory) first, the error disappears.

It seems like pip is ignoring the requirements.

[2020-09-30 17:37] csparpa commented on #340
My plan is to release it by the end of October

[2020-09-30 17:46] csparpa commented on #334
@onkelbeh - Man, I'm happy that PyOWM is useful! :)

Ok so `PySocks>=1.7.1,<2' woul work OK - am I right ? No more pinning and no major version disruptions

[2020-09-30 19:06] csparpa commented on #341
Hi @Tobiaqs this looks very similar to #318

It seems that installing pyowm with `pip` **via Github cloning** is failing because pyowm dependencies (including `geojson') are not processed and installed contextually.

My 2 cents (spoiler: I'm not a real expert on Python packaging).
I've googled a lot and I found this answer: https://stackoverflow.com/a/58883371 where a guy says that when a you inst

[2020-09-30 19:07] csparpa commented on #318
@idcrook sorry for the long wait
Take a look here: https://github.com/csparpa/pyowm/issues/341#issuecomment-701585822

[2020-09-30 19:23] idcrook commented on #318
I haven't tested with a "clean system" recently, but in a recent re-install, I pre-installed `pip3 install --user geojson` and things worked. I am OK with this documented work-around for my purposes..

I would expect the `install_requires` in my setup.py should work the same as https://github.com/csparpa/pyowm/issues/341#issuecomment-701585822 but as you mentioned for yourself, I , too, am not a p

[2020-09-30 19:30] #332 closed

[2020-09-30 19:32] csparpa commented on #318
Ok cool, I will update the project documentation so the workaround is well-known

Thanks for supporting on this!

[2020-09-30 19:32] #318 closed

[2020-09-30 19:37] csparpa commented on #341
The workaround will be documented soon

[2020-09-30 19:37] #341 closed

[2020-09-30 19:38] #340 closed

[2020-09-30 19:38] csparpa commented on #334
In the `development` branch

[2020-09-30 19:38] #334 closed

[2020-10-01 09:01] csparpa commented on #340
@EmielSchmeink I must admit I have been pretty quick... PyOWM 3.1 has been released

[2020-10-01 11:56] Tobiaqs opened #343 "Precipitation from minutely forecast is not stored in Weather"
One-call JSON response (for locations that support minutely forecasts) looks like this:

[code]

All objects in the minutely array are parsed using `Weather.from_dict` but this ignores the precipitation field.

Possible solution: if `precipitation` is in the input of `Weather.from_dict`, set the `rain` field to `{ "1m": the_dict['precipitation'] }`

[2020-10-01 12:15] csparpa commented on #343
Bad luck!! :-Z
Can you submit a PR about it?

[2020-10-01 12:33] Tobiaqs commented on #343
Will do soon!

[2020-10-01 12:47] Tobiaqs commented on #343
PR created. Could you give us an ETA for when this will reach master?

[2020-10-01 14:26] csparpa commented on #343
Tomorrow, reasonably!

[2020-10-02 16:04] csparpa commented on #343
Fixed with #344

[2020-10-02 16:04] #343 closed

[2020-10-02 17:15] csparpa commented on #343
@Tobiaqs 3.1.1 is on PyPi --> you owe me a beer ;-)
hope this is helpful!

[2020-10-03 09:20] Tobiaqs commented on #343
Awesome, thanks a lot!

[2020-10-08 20:12] realwakils opened #347 "Module not found after typing 'pip install pyowm' inside the env"
Traceback (most recent call last):
  File "d:/Python/Morning/env/code/main.py", line 7, in <module>
    from pyowm import OWM
ModuleNotFoundError: No module named 'pyowm'